<th:block th:fragment="headContents">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- ----- CSS ----- -->
	<!-- Custom fonts for this template-->
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	
	<!-- dataTables -->
	<link href="/css/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<!-- 	<link href="/css/datatables/datatables.min.css" rel="stylesheet"> -->
	<link href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css" rel="stylesheet">
	
	<!-- datepicker -->
	<link href="/css/datepicker/daterangepicker.css" rel="stylesheet">
	
	<!-- fontawesome -->	
	<link href="/css/fontawesome-free/all.min.css" rel="stylesheet" type="text/css">
	
	<!-- Custom styles for this template-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- 	<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->
	
	<!-- 부트스트랩 icons 가져오기 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
	<link href="/css/sb-admin-2.min.css" rel="stylesheet" type="text/css">
<!-- 	<link href="/css/sb-admin-2.css" rel="stylesheet" type="text/css"> -->
	
	<!-- 파비콘 -->
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
	
	<!-- 개별 CSS-->
	<link href="/css/common.css" rel="stylesheet">
	
	<!-- ==================================================================================== -->
	<!-- ----- JS ----- -->
	<!-- Bootstrap core JavaScript-->
	<script src="/js/jquery-3.7.1.js"></script>
	<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>

	<!-- Custom scripts for all pages-->
<!-- 	<script src="/js/sb-admin-2.min.js"></script> -->
	
	<!-- Core plugin JavaScript-->
	<script src="/js/jquery-easing/jquery.easing.min.js"></script>
	
	<!-- datepicker -->
	<script src="/js/datepicker/moment.min.js"></script>
	<script src="/js/datepicker/daterangepicker.js"></script>

	<!-- dataTables -->
	<script src="/js/datatables/jquery.dataTables.min.js"></script>
	<script src="/js/datatables/dataTables.bootstrap4.min.js"></script>
	<script src="/js/datatables/dataTables.buttons.min.js"></script>
	<script src="/js/datatables/buttons.html5.min.js"></script>
	<script src="/js/datatables/jszip.min.js"></script>
	<script src="/js/datatables/buttons.print.min.js"></script>
	
	<!-- fontawesome -->	
	<script src="/css/fontawesome/all.min.js"></script>

	<!-- Chart.js -->
	<script src="/js/chart.js/Chart.min.js"></script>
	
	<!-- 공통 함수 -->
	<script type="text/javascript">
		// 기간별 검색 필터링 제이쿼리 (datepicker) - 오늘날짜 까지만 조회 가능
		function initDateRangePickerMaxToday(startInputId, endInputId) {
		    var $startInput = $('#' + startInputId);
		    var $endInput = $('#' + endInputId);
		    var $iconStart = $('[data-target="#' + startInputId + '"]');
		    var $iconEnd = $('[data-target="#' + endInputId + '"]');
		
		    $startInput.daterangepicker({
		        locale: {
		            separator: " ~ ",
		            format: 'YYYY-MM-DD',
		            applyLabel: "확인",
		            cancelLabel: "취소",
		            daysOfWeek: ["일", "월", "화", "수", "목", "금", "토"],
		            monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
		            customRangeLabel: '기간 지정'
		        },
		        autoUpdateInput: false,
		        timePicker: false,
		        showDropdowns: true,
		        autoApply: false,
		        maxDate: moment(), // 오늘까지만 선택 가능하게 제한
		        ranges: {
		            '오늘': [moment()], // 오늘
		            '이번 주': [moment().startOf('week'), moment().endOf('week')],
		            '이번 달': [moment().startOf('month'), moment().endOf('month')],
		            '지난 주': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
		            '지난 달': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
		        }
		    }, function(start, end) {
		        $startInput.val(start.format('YYYY-MM-DD'));
		        $endInput.val(end.format('YYYY-MM-DD'));
		    });
		
		    // 아이콘과 requestEndDate를 클릭해도 캘린더 열리도록 설정
		    $iconStart.add($iconEnd).add($endInput).on('click', function() {
		        $startInput.trigger('click');
		    });
		}
		
		// -----------------------------------------------------------------
		// 기간별 검색 필터링 제이쿼리 (datepicker)	- 날짜 선택 제한 없음
		function initDateRangePicker(startInputId, endInputId) {
		    var $startInput = $('#' + startInputId);
		    var $endInput = $('#' + endInputId);
		    var $iconStart = $('[data-target="#' + startInputId + '"]');
		    var $iconEnd = $('[data-target="#' + endInputId + '"]');
		
		    $startInput.daterangepicker({
		        locale: {
		            separator: " ~ ",
		            format: 'YYYY-MM-DD',
		            applyLabel: "확인",
		            cancelLabel: "취소",
		            daysOfWeek: ["일", "월", "화", "수", "목", "금", "토"],
		            monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
		            customRangeLabel: '기간 지정'
		        },
		        autoUpdateInput: false,
		        timePicker: false,
		        showDropdowns: true,
		        autoApply: false,
		        ranges: {
		            '오늘': [moment()], // 오늘
		            '이번 주': [moment().startOf('week'), moment().endOf('week')],
		            '이번 달': [moment().startOf('month'), moment().endOf('month')],
		            '지난 주': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
		            '지난 달': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
		        }
		    }, function(start, end) {
		        $startInput.val(start.format('YYYY-MM-DD'));
		        $endInput.val(end.format('YYYY-MM-DD'));
		    });
		
		    // 아이콘과 requestEndDate를 클릭해도 캘린더 열리도록 설정
		    $iconStart.add($iconEnd).add($endInput).on('click', function() {
		        $startInput.trigger('click');
		    });
		}
	</script>
</th:block>