<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/bs_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.client-container {
	width: 60%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 20px;
}

.client-container div {
	margin-bottom: 10px;
}
</style>


</head>
<body id="page-top">
	<div layout:fragment="contents">
		<div class="container-fluid">
			<h1 class="h3 mb-2 text-gray-800">거래처 상세정보</h1>

			<div class="client-container">
				<form action="/orders/updateClient" method="post" class="row g-3">
					<th:block th:object="${client}">
						<div class="col-md-6">
							<label for="companyNumber" class="form-label">사업자번호</label>
							<input id="companyNumber" type="text" class="form-control" th:value="*{company_number}" name="companyNumber" readonly>
						</div>
						<div class="col-md-6">
							<label for="companyName" class="form-label">거래처명</label>
							<input id="companyName" type="text" class="form-control" th:value="*{company_name}" name="companyName">
						</div>
						<div class="col-md-6">
							<label for="ownerName" class="form-label">대표자명</label>
							<input id="ownerName" type="text" class="form-control" th:value="*{owner_name}" name="ownerName">
						</div>
						<div class="col-md-6">
							<label for="companyCategory" class="form-label">업태</label>
							<input id="companyCategory" type="text" class="form-control" th:value="*{company_category}" name="companyCategory">
						</div>
						<div class="col-md-6">
							<label for="companySubject" class="form-label">종목</label>
							<input id="companySubject" type="text" class="form-control" th:value="*{company_subject}" name="companySubject">
						</div>
						<div class="col-md-6">
							<label for="phoneNumber" class="form-label">전화번호</label>
							<input id="phoneNumber" type="text" class="form-control" th:value="*{phone_number}" name="phoneNumber">
						</div>
						<div class="col-md-6">
							<label for="eMail" class="form-label">E-mail</label>
							<input id="eMail" type="text" class="form-control" th:value="*{e_mail}" name="eMail">
						</div>
						<div class="col-md-6">
							<label for="faxNumber" class="form-label">팩스번호</label>
							<input id="faxNumber" type="text" class="form-control" th:value="*{fax_number}" name="faxNumber">
						</div>
						<div class="col-md-6">
							<label for="address1" class="form-label">주소1</label>
							<input id="address1" type="text" class="form-control" th:value="*{address1}" name="address1">
						</div>
						<div class="col-md-6">
							<label for="address2" class="form-label">주소2</label>
							<input id="address2" type="text" class="form-control" th:value="*{address2}" name="address2">
						</div>
						<div class="col-md-6">
							<label for="creditLimit" class="form-label">여신한도</label>
							<input id="creditLimit" type="text" class="form-control" th:value="*{credit_limit}" name="creditLimit">
						</div>
						<div class="col-md-6">
							<label for="isDeleted" class="form-label">삭제유무</label>
							<select id="isDeleted" class="form-select" name="isDeleted">
								<option th:selected="${client['is_deleted'] == 'N'}" th:value="N">활성화</option>
								<option th:selected="${client['is_deleted'] == 'Y'}" th:value="Y">비활성화</option>
							</select>
						</div>
						<div class="col-md-6">
							<label for="memo" class="form-label">메모</label>
							<input id="memo" type="text" class="form-control" th:value="*{memo}" name="memo">
						</div>
						<div class="col-md-6">
							<label for="status" class="form-label">상태</label>
							<input id="status" type="text" class="form-control" th:value="*{status}" name="status">
						</div>
						<div class="col-md-6">
							<label for="statusMessage" class="form-label">상태_상세내용</label>
							<input id="statusMessage" type="text" class="form-control" th:value="*{status_message}" name="statusMessage">
						</div>
						
						<div class="col-md-6">
							<label for="clientEmployeeName" class="form-label">당당자</label>
							<input id="clientEmployeeName" type="text" class="form-control" th:value="*{client_employee_name}" name="clientEmployeeName">
						</div>
						<div class="col-md-6">
							<label for="clientEmployeeMemo" class="form-label">담당자 메모</label>
							<input id="clientEmployeeMemo" type="text" class="form-control" th:value="*{client_employee_memo}" name="clientEmployeeMemo">
						</div>
						<div class="col-md-6">
							<label for="phone1" class="form-label">전화1</label>
							<input id="phone1" type="text" class="form-control" th:value="*{phone1}" name="phone1">
						</div>
						<div class="col-md-6">
							<label for="phone2" class="form-label">전화2</label>
							<input id="phone2" type="text" class="form-control" th:value="*{phone2}" name="phone2">
						</div>
						
					</th:block>
					
					<hr class="sidebar-divider my-0">
					<button type="submit">test</button>
				</form>
			</div>
		</div>
	</div>


</body>
</html>