<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/de_layout}">
<head>
<title>팩토리(PackTory) - 수주등록</title>

<!-- layout:decorate="~{common/layouts/de_layout}" 빼면서 datepicker 적용 안되는 문제 -->
<!-- <th:block th:insert="~{common/fragments/de_common::headContents}"></th:block> -->

<!-- 부트스트랩 icons 가져오기 -->
<th:block layout:fragment="headContents">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</th:block>
<!-- CSS -->
<th:block layout:fragment="css">
	<!-- dataTables 가져오기 -->
	<link href="/css/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	<link href="/css/datatables/datatables.min.css" rel="stylesheet">
	<link href="/css/datepicker/daterangepicker.css" rel="stylesheet">
	<!-- 폰트어썸 가져오기 -->
	<link href="/css/fontawesome/all.min.css" rel="stylesheet">
	<script src="/css/fontawesome/all.min.js"></script>
	<!-- CSS for Page -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Nunito:wght@200..1000&display=swap" rel="stylesheet">
	<link href="/css/sb-admin-2.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
	<!-- 개별 CSS-->
	<link href="/css/common.css" rel="stylesheet">
</th:block>
<style type="text/css">
	input {
        border: 1px solid #ccc;
        padding: 5px;
        margin: 2px;
	}
	.essential {
        background-color: #fffbe6; /* 연한 노랑 */
    }
    .filled {
        background-color: white;
    }
    
    /* ----------------- */
    .addressInfo {
	    display: flex;
	}
    @media (max-width: 768px) {
	    .addressInfo {
		    display: block;
		}
	}
</style>
<!-- 다음 우편번호 API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body id="page-top">
	<div layout:fragment="contents">
		<!-- Begin Page Content -->
		<div class="container-fluid" style="margin-top: 20px;">
			<!-- Page Heading -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-2 text-gray-800">주문서등록(수주)</h1>
			</div>

			<!-- ---------- 본문 컨테이너 ---------- -->
			<div class="card shadow mb-4">
			    <div class="card-body">
   			    	<div class="table-responsive">
				        <form th:action="@{/orders/sell/regist}" method="post" th:object="${orderFormDTO}">
				        	<!-- hidden -->
<!-- 							<input type="hidden" th:field="*{orderDTO.tradeCode}" value="1" alt="수주 코드" /> -->
<!-- 							<input type="hidden" th:field="*{orderDTO.statusCode}" value="1" alt="수주_미출고" /> -->
							<!-- -------------------------------------------------------------- -->
							<div class="row">
								<div class="data-container">
							    	<div class="row">
								        <div class="col-sm-12 col-md-6 mb-3">
								            <div>
								                <label class="col-sm-8 col-md-4" for="requestDate">요청예정일자</label>
								                <input type="text" id="requestDate" class="col-sm-12 col-md-6 rounded-sm mr-2 essential" th:field="*{orderDTO.requestDate}" placeholder="날짜 선택" autocomplete="off">
								            </div>
								            <div>
								                <label class="col-sm-8 col-md-4" for="dueDate">요청마감일자</label>
								                <input type="text" id="dueDate" class="col-sm-12 col-md-6 rounded-sm mr-2 essential" th:field="*{orderDTO.dueDate}" placeholder="날짜 선택" autocomplete="off">
								            </div>
								        </div>
								        <div class="col-sm-12 col-md-6 mb-3">
								            <div>
								                <label class="col-sm-8 col-md-4" for="clientName">담당자</label>
								                <input type="text" id="clientName" class="col-sm-12 col-md-6 rounded-sm mr-2" th:field="*{orderDetailDTO.clientName}">
								            </div>
								            <div>
								                <label class="col-sm-8 col-md-4" for="clientPhone">담당자 전화번호</label>
								                <input type="text" id="clientPhone" class="col-sm-12 col-md-6 rounded-sm mr-2" th:field="*{orderDetailDTO.clientPhone}" maxlength="13" placeholder="010-1234-5678">
								            </div>
								        </div>
								    </div>
							    </div>
							    
							    <!-- ------------------------------------------------------------------------------------------------------- -->
							    <hr>
							    <div class="data-container">
							    	<div class="row">
								        <div class="col-sm-12 col-md-6 mb-3">
								            <div>
								                <label class="col-sm-8 col-md-4" for="destinationName">목적지명</label>
								                <input type="text" id="destinationName" class="col-sm-12 col-md-6 rounded-sm mr-2 essential" th:field="*{orderDTO.destinationName}">
								            </div>
								            <div>
								                <label class="col-sm-8 col-md-4" for="receiver">받는사람</label>
								                <input type="text" id="receiver" class="col-sm-12 col-md-6 rounded-sm mr-2 essential" th:field="*{orderDTO.receiver}">
								            </div>
								            <div>
								                <label class="col-sm-8 col-md-4" for="phone1">전화번호1</label>
								                <input type="text" id="phone1" class="col-sm-12 col-md-6 rounded-sm mr-2 essential" th:field="*{orderDTO.phone1}" maxlength="13" placeholder="010-1234-5678">
								            </div>
								            <div>
								                <label class="col-sm-8 col-md-4" for="phone2">전화번호2</label>
								                <input type="text" id="phone2" class="col-sm-12 col-md-6 rounded-sm mr-2" th:field="*{orderDTO.phone2}" maxlength="13" placeholder="010-1234-5678">
								            </div>
								        </div>
							<!-- 	        <div class="col-sm-12 col-md-6 row"> -->
							<!-- 	            <div class="col-sm-8 col-md-4">납품주소</div> -->
							<!-- 	            <div class="col-sm-12 col-md-6 mb-3"> -->
							<!-- 	                <input type="text" id="postCode" class="col-sm-12 col-md-6 rounded-sm mr-2 postCode_1 essential" th:field="*{postCode}" maxlength="5"> -->
							<!-- 	                <button type="button" id="searchAddressBtn_1" class="btn btn-outline-primary ml-2">주소찾기</button> -->
							<!-- 	                <input type="text" class="col-sm-24 col-md-12 rounded-sm mr-2 address1_1 essential" th:field="*{address1}"> -->
							<!-- 	                <input type="text" class="col-sm-24 col-md-12 rounded-sm mr-2 address2_1 essential" th:field="*{address2}"> -->
							<!-- 	            </div> -->
							<!-- 	        </div> -->
								        <div class="col-sm-12 col-md-6 mb-3">
								            <div class="addressInfo">
								                <label class="col-sm-8 col-md-4">납품주소</label>
									            <div>
									                <input type="text" id="postCode" class="col-sm-6 col-md-3 rounded-sm mr-2 postCode_1 essential" th:field="*{orderDTO.postCode}" maxlength="5">
									                <button type="button" id="searchAddressBtn_1" class="btn btn-outline-primary ml-2">주소찾기</button>
									                <input type="text" class="col-sm-18 col-md-9 rounded-sm mr-2 address1_1 essential" th:field="*{orderDTO.address1}" placeholder="기본주소 입력">
									                <input type="text" class="col-sm-18 col-md-9 rounded-sm mr-2 address2_1 essential" th:field="*{orderDTO.address2}" placeholder="상세주소 입력">
									            </div>
								            </div>
								        </div>
								    </div>
							    </div>
							    
							    <!-- ------------------------------------------------------------------------------------------------------- -->
							    <hr>								
								<div class="data-container">
							    	<div class="row">
								        <div class="col-sm-12 col-md-6 mb-3">
								            <div class="addressInfo">
								                <label class="col-sm-8 col-md-4" for="companyNumber">사업자 등록 번호</label>
												<div>
									                <input type="text" id="companyNumber" class="col-sm-14 col-md-7 rounded-sm mr-2" th:field="*{orderDTO.companyNumber}" maxlength="12" placeholder="123-45-67890">
				                                	<button type="button" id="searchClientInfoBtn" class="btn btn-outline-primary ml-2">조회</button>
												</div>
								            </div>
								            <div>
								                <label class="col-sm-8 col-md-4" for="companyName">상호명</label>
								                <input type="text" id="companyName" class="col-sm-12 col-md-6 rounded-sm mr-2" th:field="*{clientDTO.companyName}">
								            </div>
								            <div>
								                <label class="col-sm-8 col-md-4" for="ownerName">대표자명</label>
								                <input type="text" id="ownerName" class="col-sm-12 col-md-6 rounded-sm mr-2" th:field="*{clientDTO.ownerName}">
								            </div>
								            <div>
								                <label class="col-sm-8 col-md-4" for="phoneNumber">전화번호</label>
								                <input type="text" id="phoneNumber" class="col-sm-12 col-md-6 rounded-sm mr-2" th:field="*{clientDTO.phoneNumber}" maxlength="13" placeholder="010-1234-5678">
								            </div>
								            <div>
								                <label class="col-sm-8 col-md-4" for="faxNumber">팩스번호</label>
								                <input type="text" id="faxNumber" class="col-sm-12 col-md-6 rounded-sm mr-2" th:field="*{clientDTO.faxNumber}" maxlength="10" placeholder="02-000-0000">
								            </div>
								            <div>
								                <label class="col-sm-8 col-md-4" for="eMail">이메일</label>
								                <input type="text" id="eMail" class="col-sm-12 col-md-6 rounded-sm mr-2" th:field="*{clientDTO.eMail}" placeholder="email@example.com">
								            </div>
								        </div>
								        <div class="col-sm-12 col-md-6 mb-3">
								            <div class="addressInfo">
								                <label class="col-sm-8 col-md-4">주소</label>
									            <div>
									                <input type="text" id="postCode" class="col-sm-6 col-md-3 rounded-sm mr-2 postCode_2" th:field="*{clientDTO.postCode}" maxlength="5">
									                <button type="button" id="searchAddressBtn_2" class="btn btn-outline-primary ml-2" disabled>주소찾기</button>
									                <input type="text" class="col-sm-18 col-md-9 rounded-sm mr-2 address1_2" th:field="*{clientDTO.address1}" placeholder="기본주소 입력">
									                <input type="text" class="col-sm-18 col-md-9 rounded-sm mr-2 address2_2" th:field="*{clientDTO.address2}" placeholder="상세주소 입력">
									            </div>
								            </div>
								        </div>
								    </div>
							    </div>	<!-- <div class="data-container"> 끝 -->
							</div>
							<!-- =============================================== -->
				            
				            <hr>
				            <!-- ---------- 상품검색 영역 ---------- -->
				            <div class="col-4 search-box">
			                     <div class="input-group">
			                         <input type="text" id="searchKeyword" class="form-control bg-light border small" name="keyword_search" placeholder="상품 조회" aria-label="Search" aria-describedby="basic-addon2">
			                         <div class="input-group-append">
			                             <button class="btn btn-primary" id="searchBtn" type="button" onclick="alert('준비중입니다.'); return false;">조회</button>
			                         </div>
			                     </div>
			                </div>
			                <br>
			                <!-- ---------- 상품 리스트 출력 영역 ---------- -->
			                <div class="table-responsive text-center">
			                	<table class="table table-bordered" id="sellManagement" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>No</th>
											<th>상품번호</th>
											<th>품명</th>
											<th>규격</th>
											<th>수량</th>
											<th>단가</th>
											<th>합계금액</th>
										</tr>
									</thead>
									<tbody>
										<tr><td colspan="7"> No Data </td></tr>
	<!-- 									<tr th:each="item, status : ${sellDTOList}" th:data-id="${sell['idx']}"> -->
	<!-- 									    <td><input type="checkbox"></td> -->
	<!-- 									    <td th:text="${sell['document_number']}"></td> -->
		<!-- 								    <td th:text="${sell['request_date'] != null ? #temporals.format(sell['request_date'], 'yyyy-MM-dd') : 'No Date'}"></td> -->
	<!-- 									    <td th:text="${sell['request_date']}"></td>		HashMap으로 가져오면서 String으로 들고와짐 -->
	<!-- 									    <td th:text="${sell['company_name']}"></td> -->
	<!-- 									    <td th:text="${sell['supply_amount']}"></td> -->
	<!-- 									    <td th:text="${sell['vat_amount']}"></td> -->
	<!-- 									    <td th:text="${sell['total_amount']}"></td> -->
	<!-- 									</tr> -->
		
									</tbody>
								</table>
			                	
			                </div>
			                
				            <div style="text-align: center; margin-top: 10px;">
				                <button type="submit" class="btn btn-primary">등록</button>
				                <button type="button" id="cancelBtn" class="btn btn-secondary ml-2">취소</button>
				            </div>
				        </form>
			        </div>
			    </div>
			</div>
			<!-- ---------- 본문 컨테이너 끝 ---------- -->			
		</div>
		
		<script type="text/javascript">
			$(function() {
				// 휴대번호 입력
				$('#clientPhone, #phone1, #phone2, #phoneNumber').on('input', function() {
			        // 숫자만 남기기
			        let value = $(this).val().replace(/\D/g, '');
			        let formattedValue = '';
			        // 포맷팅 로직
			        if (value.length > 0) {
			            if (value.length <= 10) {
			                // 10자리 이하일 경우
			                formattedValue += value.substring(0, 3); // 첫 3자리
			                if (value.length > 3) {
			                    formattedValue += '-' + value.substring(3, 6); // 중간 3자리
			                }
			                if (value.length > 6) {
			                    formattedValue += '-' + value.substring(6, 10); // 마지막 4자리
			                }
			            } else {
			                // 11자리 이상일 경우
			                formattedValue += value.substring(0, 3); // 첫 3자리
			                formattedValue += '-' + value.substring(3, 7); // 중간 4자리
			                formattedValue += '-' + value.substring(7, 11); // 마지막 4자리
			            }
			        }
					
			     	// 포맷된 값으로 업데이트
			        $(this).val(formattedValue);
			    });
				
				// 숫자입력만 허용하는 keypress
			    $('#clientPhone, #phone1, #phone2, #phoneNumber, #companyNumber, #faxNumber').on('keypress', function(e) {
			    	let keyCode = event.keyCode;
			        if (keyCode < 48 || keyCode > 57) {
			            event.preventDefault();
			        }
			    });
				
		     	//---------------------------------------------------
				// 납품주소(다음 우편번호 API 활용)
				// "t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" 스크립트 파일 로딩 필수!
				$("#searchAddressBtn_1, .postCode_1").click(function() {
					new daum.Postcode({
				        oncomplete: function(data) { 
							// 1) 우편번호(zonecode) 가져와서 우편번호 항목(postCode)에 출력              
				            $(".postCode_1").val(data.zonecode).addClass("filled");
					
							// 2) 기본주소(address) 또는 도로명주소(roadAddress) 가져와서 
							//    기본주소 항목(address1)에 출력
							let address = data.address;
				            
				            // 3) 만약, 건물명(buildingName)이 존재할 경우(= 널스트링이 아님)
				            //    기본 주소 뒤에 건물명 결합
				            if(data.buildingName !== ''){
				               address += "(" + data.buildingName + ")";
				            }
				            
				            // 4) 기본주소(+ 건물명)를 기본주소 항목(address1)에 출력
				            $(".address1_1").val(address).addClass("filled");
				            
				            // 5) 상세주소 항목(address2)에 포커스 요청
				            $(".address2_1").focus();
				        }
				    }).open();
				});
				
				// 주소(다음 우편번호 API 활용)
				$("#searchAddressBtn_2, .postCode_2").click(function() {
					new daum.Postcode({
				        oncomplete: function(data) { 
							// 1) 우편번호(zonecode) 가져와서 우편번호 항목(postCode)에 출력              
				            $(".postCode_2").val(data.zonecode);
					
							// 2) 기본주소(address) 또는 도로명주소(roadAddress) 가져와서 
							//    기본주소 항목(address1)에 출력
							let address = data.address;
				            
				            // 3) 만약, 건물명(buildingName)이 존재할 경우(= 널스트링이 아님)
				            //    기본 주소 뒤에 건물명 결합
				            if(data.buildingName !== ''){
				               address += "(" + data.buildingName + ")";
				            }
				            
				            // 4) 기본주소(+ 건물명)를 기본주소 항목(address1)에 출력
				            $(".address1_2").val(address);
				            
				            // 5) 상세주소 항목(address2)에 포커스 요청
				            $(".address2_2").focus();
				        }
				    }).open();
				});
				
		     	//---------------------------------------------------
				// 취소버튼
				$('#cancelBtn').on("click", function() {
					//window.close(); // 250401 부모창에서 페이지 이동으로 변경됨
					location.href="/orders/sell";
				});
				
				
		     	//---------------------------------------------------
				// 필수입력요소
				$(".essential").each(function () {
		            if ($(this).val().trim() !== "") {
		                $(this).addClass("filled");
		            }
		        });

		        $(".essential").on("input", function () {
		            if ($(this).val().trim() !== "") {
		                $(this).addClass("filled");
		            } else {
		                $(this).removeClass("filled");
		            }
		        });
		        
		     	// ===== 캘린더 ===============================================
				// 요청 예정일자 선택 (datepicker)
			    $('#requestDate').daterangepicker({
			        singleDatePicker: true, // 단일 날짜 선택 모드
			        showDropdowns: true, // 년월 수동 선택 가능
			        autoApply: true, // 확인/취소 버튼 없이 즉시 반영
			        autoUpdateInput: false, // 초기 입력 필드 비우기
			        locale: {
			            format: 'YYYY-MM-DD', // 날짜 형식
			            daysOfWeek: ["일", "월", "화", "수", "목", "금", "토"],
			            monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
			            applyLabel: "확인",
			            cancelLabel: "취소"
			        },
			        // 날짜 선택 가능 범위 여기 작성 ---------------------------------
			        minDate: moment(), // 오늘 이후 선택 가능
			        maxDate: moment().add(1, 'year') // 1년 후까지 선택 가능 (선택사항)
			        // ---------------------------------------------------------------
			    }).on('apply.daterangepicker', function(ev, picker) {
			        $(this).val(picker.startDate.format('YYYY-MM-DD')); // 값 설정
			        $(this).addClass("filled");
			    });
		     	
			    // 요청 예정일자 선택 후 마감일자 활성화
			    $('#requestDate').on('apply.daterangepicker', function(ev, picker) {
			        $('#dueDate').prop('disabled', false); // 비활성화 해제
			        $('#dueDate').val(''); // 기존 값 초기화

			        $('#dueDate').daterangepicker({
			            singleDatePicker: true,
			            showDropdowns: true,
			            autoApply: true,
			            autoUpdateInput: false,
			            locale: {
			                format: 'YYYY-MM-DD',
			                daysOfWeek: ["일", "월", "화", "수", "목", "금", "토"],
			                monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
			                applyLabel: "확인",
			                cancelLabel: "취소"
			            },
				        // 날짜 선택 가능 범위 여기 작성 ---------------------------------
			            minDate: picker.startDate.clone().add(7, 'days'), // 요청 예정일 + 7일
			            maxDate: moment().add(1, 'year')
				        // ---------------------------------------------------------------
			        }).on('apply.daterangepicker', function(ev, picker) {
			            $(this).val(picker.startDate.format('YYYY-MM-DD'));
			            $(this).addClass("filled");
			        }).on('show.daterangepicker', function(ev, picker) {
//	 			        console.log("캘린더 열림"); // 캘린더가 열리는지 확인
			        });
			    });
		     	// ===== 캘린더 끝 ============================================
		        
		     	//---------------------------------------------------
			    $("form").submit(function(event) {
			        let isValid = true;
			        
			        // 필수 입력 필드 검사
			        $(".essential").each(function() {
			            if ($(this).val().trim() === "") {
			                isValid = false;
			                $(this).css("border", "2px solid red"); // 테두리 강조
			            } else {
			                $(this).css("border", "1px solid #ccc"); // 정상일 경우 원래대로
			            }
			        });

			        if (!isValid) {
			            alert("필수 항목을 입력하세요.");
			            event.preventDefault(); // 제출 막기
			        }
			    });
		     	
		        
		        
		    });
		</script>
	</div>
	<!-- --------------------------------------------------------------------------------------------- -->
	<!-- JS -->
	<th:block layout:fragment="script">
		<!-- Bootstrap core JavaScript-->
		<script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="/js/jquery-3.7.1.js"></script>
	    <!-- Core plugin JavaScript-->
	    <script src="/js/jquery-easing/jquery.easing.min.js"></script>
	    <!-- Custom scripts for all pages-->
	    <script src="/js/sb-admin-2.min.js"></script>
	   	<!-- Page level plugins -->
		<script src="/js/datatables/jquery.dataTables.min.js"></script>
		<script src="/js/datatables/dataTables.bootstrap4.min.js"></script>
		<script src="/js/demo/datatables-demo.js"></script>
	   	<script src="/js/datepicker/moment.min.js"></script>
	   	<script src="/js/datepicker/daterangepicker.js"></script>
	   	<script src="/js/datatables/dataTables.buttons.min.js"></script>
		<script src="/js/datatables/buttons.html5.min.js"></script>
		<script src="/js/datatables/jszip.min.js"></script>
		<script src="/js/datatables/buttons.print.min.js"></script>
	</th:block>

	
</body>
</html>