<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.de.orders.mapper.OrderMapper">
	<!-- 수주/발주 관리 리스트 컬럼 -->
	<sql id="order_list_columns_forSelect">
		  o.idx
		, o.document_number	-- 주문번호
		, o.reg_date		-- 주문일자
		, o.company_name	-- 거래처명
		, d.supply_amount	-- 공급가액
		, d.vat_amount		-- 부가세액
		, d.total_amount	-- 합계금액
		, o.expected_date	-- 출고예정일
		, d.client_name		-- 담당사원명
		, o.trade_code		-- 주문상태_코드
	</sql>
	
	<!-- 수주/발주 정보 조건 검색 가져오기(SELECT) -->
	<select id="getOrderCountForPaging" parameterType="kr.co.itwillbs.de.orders.dto.OrderSearchDTO"
									resultType="int">
		SELECT 
			count(*)
		  FROM t_order o
		  LEFT JOIN t_order_detail d
			ON o.document_number = d.document_number
		<where>
			o.trade_code = #{tradeCode}
			<if test="documentNumber != null and documentNumber.trim() != ''">
				and o.document_number = #{documentNumber}
			</if>
			<if test="statusCode != null and statusCode.trim() != ''">
				and o.status_code = #{statusCode}
			</if>
			<if test="companyName != null and companyName.trim() != ''">
				and o.company_name = #{companyName}
			</if>
			<choose>
				<when test="(requestStartDate != null and requestStartDate.trim() != '')
							and (requestEndDate != null and requestEndDate.trim() != '')">
					and o.request_date BETWEEN STR_TO_DATE(CONCAT(#{requestStartDate},'000000'),'%Y-%m-%d%H%i%S') 
											AND STR_TO_DATE(CONCAT(#{requestEndDate}, '235959'),'%Y-%m-%d%H%i%S')
				</when>
				<when test="(requestStartDate != null and requestStartDate.trim() != '')
							and (requestEndDate == null or requestEndDate.trim() == '')">
					and o.request_date <![CDATA[>=]]> STR_TO_DATE(CONCAT(#{requestStartDate},'000000'),'%Y-%m-%d%H%i%S')
				</when>
				<when test="(requestStartDate == null or requestStartDate.trim() == '')
							and (requestEndDate != null and requestEndDate.trim() != '')">
					and o.request_date <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{requestEndDate}, '235959'),'%Y-%m-%d%H%i%S')
				</when>
			</choose>
			<if test="isDeleted != null and isDeleted.trim() != ''">
				and o.is_deleted = #{isDeleted}
			</if>
			<choose>
				<when test="(dueStartDate != null and dueStartDate.trim() != '')
							and (dueEndDate != null and dueEndDate.trim() != '')">
					and o.due_date BETWEEN STR_TO_DATE(CONCAT(#{dueStartDate},'000000'),'%Y-%m-%d%H%i%S') 
										AND STR_TO_DATE(CONCAT(#{dueEndDate}, '235959'),'%Y-%m-%d%H%i%S')
				</when>
				<when test="(dueStartDate != null and dueStartDate.trim() != '')
							and (dueEndDate == null or dueEndDate.trim() == '')">
					and o.due_date <![CDATA[>=]]> STR_TO_DATE(CONCAT(#{dueStartDate},'000000'),'%Y-%m-%d%H%i%S')
				</when>
				<when test="(dueStartDate == null or dueStartDate.trim() == '')
							and (dueEndDate != null and dueEndDate.trim() != '')">
					and o.due_date <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{dueEndDate}, '235959'),'%Y-%m-%d%H%i%S')
				</when>
			</choose>
		</where>
		ORDER BY o.reg_date DESC
	</select>
	
	<!-- 수주/발주 정보 조건 검색 가져오기(SELECT) -->
	<select id="getOrderList" parameterType="kr.co.itwillbs.de.orders.dto.OrderSearchDTO"
									resultType="kr.co.itwillbs.de.orders.dto.OrderDTO">
		SELECT 
			<include refid="order_list_columns_forSelect"></include>
		  FROM t_order o
		  LEFT JOIN t_order_detail d
			ON o.document_number = d.document_number
		<where>
			o.trade_code = #{tradeCode}
			<if test="documentNumber != null and documentNumber.trim() != ''">
				and o.document_number = #{documentNumber}
			</if>
			<if test="statusCode != null and statusCode.trim() != ''">
				and o.status_code = #{statusCode}
			</if>
			<if test="companyName != null and companyName.trim() != ''">
				and o.company_name = #{companyName}
			</if>
			<choose>
				<when test="(requestStartDate != null and requestStartDate.trim() != '')
							and (requestEndDate != null and requestEndDate.trim() != '')">
					and o.request_date BETWEEN STR_TO_DATE(CONCAT(#{requestStartDate},'000000'),'%Y-%m-%d%H%i%S') 
											AND STR_TO_DATE(CONCAT(#{requestEndDate}, '235959'),'%Y-%m-%d%H%i%S')
				</when>
				<when test="(requestStartDate != null and requestStartDate.trim() != '')
							and (requestEndDate == null or requestEndDate.trim() == '')">
					and o.request_date <![CDATA[>=]]> STR_TO_DATE(CONCAT(#{requestStartDate},'000000'),'%Y-%m-%d%H%i%S')
				</when>
				<when test="(requestStartDate == null or requestStartDate.trim() == '')
							and (requestEndDate != null and requestEndDate.trim() != '')">
					and o.request_date <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{requestEndDate}, '235959'),'%Y-%m-%d%H%i%S')
				</when>
			</choose>
			<if test="isDeleted != null and isDeleted.trim() != ''">
				and o.is_deleted = #{isDeleted}
			</if>
			<choose>
				<when test="(dueStartDate != null and dueStartDate.trim() != '')
							and (dueEndDate != null and dueEndDate.trim() != '')">
					and o.due_date BETWEEN STR_TO_DATE(CONCAT(#{dueStartDate},'000000'),'%Y-%m-%d%H%i%S') 
										AND STR_TO_DATE(CONCAT(#{dueEndDate}, '235959'),'%Y-%m-%d%H%i%S')
				</when>
				<when test="(dueStartDate != null and dueStartDate.trim() != '')
							and (dueEndDate == null or dueEndDate.trim() == '')">
					and o.due_date <![CDATA[>=]]> STR_TO_DATE(CONCAT(#{dueStartDate},'000000'),'%Y-%m-%d%H%i%S')
				</when>
				<when test="(dueStartDate == null or dueStartDate.trim() == '')
							and (dueEndDate != null and dueEndDate.trim() != '')">
					and o.due_date <![CDATA[<=]]> STR_TO_DATE(CONCAT(#{dueEndDate}, '235959'),'%Y-%m-%d%H%i%S')
				</when>
			</choose>
		</where>
		ORDER BY o.reg_date DESC
		LIMIT #{pageDTO.size} OFFSET #{pageDTO.offset}
	</select>
	
	<!-- ============================================================= -->
	<!-- 주문서 등록(order) -->
	<insert id="insertOrder">
		INSERT INTO t_order
		VALUES (null				-- idx(auto_increment)
			 , #{documentNumber}	-- document_number
			 , #{tradeCode}			-- trade_code
			 , #{statusCode}		-- status_code
			 , #{companyName}		-- company_name
			 , #{companyNumber}		-- company_number
			 , #{requestDate}		-- request_date
			 , null					-- expected_date(나중에 상세화면에서 우리가 적는 부분)
			 , #{dueDate} 			-- due_date
			 , #{destinationName}	-- destination_name
			 , #{receiver}			-- reciver
			 , #{phone1}			-- phone1
			 , #{phone2}			-- phone2
			 , #{postCode}			-- post_code
			 , #{address1}			-- address1
			 , #{address2}			-- address2
			 , null					-- special_issue
			 , 'Y'					-- is_deleted(default)
			 , #{regId}				-- reg_id
			 , now()				-- reg_date
			 , null					-- mod_id(최초 등록시는 reg_id 만 넣고 update 시 mod_id 입력)
			 , null					-- mod_date
			 )
	</insert>
	
	<!-- 주문서 등록(order_detail) -->
	<insert id="insertOrderDetail">
		INSERT INTO t_order_detail
		VALUES (null				-- idx(auto_increment)
			 , #{documentNumber}	-- document_number
			 , #{departmentCode}	-- department_code
			 , #{subDepartmentCode}	-- sub_department_code
			 , #{clientName}		-- client_name
			 , #{clientPhone}		-- client_phone
		 	 , null					-- lot_number(임시)
			 , null					-- invoice_issue(임시)
			 , null					-- payment_status(임시)
			 , null					-- unissued_status(임시)
			 , null					-- supply_amount(임시)
			 , null					-- vat_amount(임시)
			 , null					-- total_amount(임시)
			 , null					-- issue_code(임시)
			 , null					-- issue_remaks(임시)
			 , 'Y'					-- is_deleted(default)
			 , #{regId}				-- reg_id
			 , now()				-- reg_date
			 , null					-- mod_id(최초 등록시는 reg_id 만 넣고 update 시 mod_id 입력)
			 , null					-- mod_date
			 )
	</insert>
	
	<!-- 주문서 등록(order_items) -->
	<insert id="insertOrderItems">
		INSERT INTO t_order_items
		VALUES 
			<foreach collection="orderItems" item="item" separator=",">
				(
				  null					-- idx(auto_increment)
				, #{documentNumber}		-- order_document_number
				, #{item.materialIdx}	-- material_idx
				, #{item.productIdx}	-- product_number
				, #{item.name}			-- product_name
				, #{item.quantity}		-- product_value
				, #{item.unitPrice}		-- unit_price
				, #{item.totalPrice}	-- total_price
				, 'Y'					-- is_deleted(default)
				, #{regId}				-- reg_id
				, now()					-- reg_date
				, null					-- mod_id(최초 등록시는 reg_id 만 넣고 update 시 mod_id 입력)
				, null					-- mod_date
				)
			</foreach>
	</insert>
	
	<!-- ============================================================= -->
	<!-- 수주/발주 주문서 상세 컬럼 -->
	<sql id="order_detail_columns_forSelect">
		  o.idx					-- 인덱스
		, o.document_number		-- 주문번호(문서번호)
		, o.trade_code			-- 거래종류_코드
		, o.status_code			-- 주문상태_코드
		, o.company_name		-- 거래처명
		, o.company_number		-- 사업자번호
		, o.request_date		-- 요청일자
		, o.expected_date		-- 예정일
		, o.due_date			-- 마감일자
		, o.destination_name	-- 목적지명
		, o.receiver			-- 받는사람
		, o.phone1				-- 전화번호1
		, o.phone2				-- 전화번호2
		, o.post_code			-- 우편번호
		, o.address1			-- 목적지주소1
		, o.address2			-- 목적지주소2
		, o.special_issue		-- 특이사항
		, o.is_deleted			-- 삭제유무
		, d.idx as detail_idx	-- 디테일 _인덱스
		, d.department_code		-- 담당부서_코드
		, d.sub_department_code	-- 담당하위부서_코드
		, d.client_name			-- 담당자_이름
		, d.client_phone		-- 담당자 연락처
		, d.lot_number			-- LOT
		, d.invoice_issue		-- 세금계산서발행
		, d.payment_status		-- 수금처리
		, d.unissued_status		-- 미발행
		, d.supply_amount		-- 공급가액
		, d.vat_amount			-- 부가세액
		, d.total_amount		-- 합계금액
		, d.issue_code			-- 이슈_코드
		, d.issue_remaks		-- 이슈_비고		
		, d.is_deleted			-- 삭제유무
	</sql>
	
	<!-- 문서번호에 따른 주문 정보 조회 -->
	<select id="getOrderByDocumentNumber" resultType="kr.co.itwillbs.de.orders.dto.OrderFormDTO">
		SELECT
			<include refid="order_detail_columns_forSelect"></include>
		  FROM t_order o
	 LEFT JOIN t_order_detail d
			ON d.document_number = o.document_number
		 WHERE o.document_number = #{documentNumber}
	</select>
	
	<!-- 수주/발주 주문_아이템 상세 컬럼 -->
	<sql id="order_items_columns_forSelect">
		  idx					-- 인덱스	
		, order_document_number	-- 문서번호	
		, material_idx			-- 자재_idx	
		, product_idx			-- 상품_idx	
		, name					-- 아이템명	
		, quantity				-- 개수		
		, unit_price			-- 개수별금액	
		, total_price			-- 합계액		
		, is_deleted			-- 삭제유무	
		, reg_id				-- 작성자		
		, reg_date				-- 작성일자시간	
	</sql>

	<!-- 문서번호에 따른 주문_아이템 정보 조회 -->
	<select id="getOrderListByDocumentNumber" resultType="kr.co.itwillbs.de.orders.dto.OrderItemsDTO">
		SELECT 
			<include refid="order_items_columns_forSelect"></include>
		  FROM t_order_items
		 WHERE order_document_number = #{documentNumber}
	</select>
	
	<!-- ============================================================= -->
	<!-- 주문 정보 수정(order) -->
	<update id="updateOrder" parameterType="kr.co.itwillbs.de.orders.dto.OrderFormDTO">
		UPDATE t_order
			<set>
				  status_code = #{statusCode}				-- 주문상태_코드
				, company_name = #{companyName}				-- 거래처명
				, company_number = #{companyNumber}			-- 사업자번호
				, request_date = #{requestDate}				-- 요청일자
				, expected_date = #{expectedDate}			-- 예정일
				, due_date = #{dueDate}						-- 마감일자
				, destination_name = #{destinationName}		-- 목적지명
				, receiver = #{receiver}					-- 받는사람
				, phone1 = #{phone1}						-- 전화번호1
				, phone2 = #{phone2}						-- 전화번호2
				, post_code = #{postCode}					-- 우편번호
				, address1 = #{address1}					-- 목적지주소1
				, address2 = #{address2}					-- 목적지주소2
				, special_issue = #{specialIssue}			-- 특이사항
				, is_deleted = #{isDeleted}					-- 삭제유무
				, mod_id = #{modId}							-- 최종 작성자
				, mod_date = now()							-- 최종작성일자
			</set>
		 WHERE document_number = #{documentNumber}
	</update>
	
	<!-- 주문 정보 수정(order_detail) -->
	<update id="updateOrderDetail" parameterType="kr.co.itwillbs.de.orders.dto.OrderFormDTO">
		UPDATE t_order_detail
			<set>
				  department_code = #{departmentCode}			-- 담당부서_코드
				, sub_department_code = #{subDepartmentCode}	-- 담당하위부서_코드
				, client_name = #{clientName}					-- 담당자_이름
				, client_phone = #{clientPhone}					-- 담당자_연락처
				, mod_id = #{modId}								-- 최종 작성자
				, mod_date = now()								-- 최종작성일자
			</set>
		 WHERE document_number = #{documentNumber}
	</update>
	
	<!-- 주문_아이템 삭제(DELETE) -->
	<delete id="deleteOrderItemsByDocumentNumber">
		DELETE FROM t_order_items
		 WHERE order_document_number = #{documentNumber}
	</delete>
	
	<select id="getOrderItemsByDocumentNumberForUpodate" parameterType="string"
													resultType="kr.co.itwillbs.de.orders.dto.OrderItemsDTO">
	
	SELECT
		oi.idx,
		oi.order_document_number,
		oi.material_idx,
		oi.product_idx,
		oi.name,
		oi.quantity,
		oi.unit_price,
		oi.total_price,
		oi.is_deleted,
		o.idx as orderIdx,
		o.trade_code,
		o.status_code,
		rm.unit
	FROM t_order_items AS oi
		JOIN t_order AS o ON o.document_number = oi.order_document_number
		JOIN t_raw_material as rm ON oi.material_idx = rm.idx
	WHERE order_document_number = #{orderDocumentNumber}
	FOR UPDATE
	</select>
</mapper>