<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.de.orders.mapper.SellMapper">
	<sql id="t_order_columns_forSelect">
		idx,
		document_number,
		trade_code,
		status_code,
		company_name,
		company_number,
		request_date,
		expected_date,
		due_date,
		destination_name,
		reciver,
		phone1,
		phone2,
		post_code,
		address1,
		address2,
		special_issue,
		is_deleted,
		reg_id,
		reg_date,
		mod_id,
		mod_date
	</sql>
	<sql id="t_order_detail_columns_forSelect">
		idx,
		document_number,
		department_code,
		client_name,
		client_phone,
		lot_number,
		invoice_issue,
		payment_status,
		unissued_status,
		supply_amount,
		vat_amount,
		total_amount,
		issue_code,
		issue_remaks,
		is_deleted,
		reg_id,
		reg_date,
		mod_id,
		mod_date
	</sql>

	<sql id="sell_list_columns_forSelect">
		d.idx,
		d.document_number,
		o.request_date,
		o.company_name,
		d.supply_amount,
		d.vat_amount,
		d.total_amount,
		o.expected_date,
		d.client_name
	</sql>
	
	<!-- 전체 수주 관리 목록 조회(SELECT) -->
<!-- 	<select id="getSellList" resultType="kr.co.itwillbs.de.orders.dto.OrderDTO"> -->
<!-- 		SELECT  -->
<!-- 			<include refid="t_order_columns_forSelect"></include> -->
<!-- 		FROM t_order -->
<!-- 	</select> -->
	<select id="getSellList" resultType="java.util.HashMap">
		SELECT 
			<include refid="sell_list_columns_forSelect"></include>
		FROM t_order o
		JOIN t_order_detail d
		ON d.document_number = o.document_number
		WHERE o.trade_code = '수주'
	</select>
	
	<insert id="insertOrder">
		INSERT INTO t_order
		VALUES (
			null					-- idx(auto_increment)
			, #{documentNumber}		-- document_number(임시 - 시퀀스 활용?)
			, '수주'				-- trade_code(임시 - 나중에 코드로 가져올거임)
			, '미출고'				-- status_code(임시 - 나중에 코드로 가져올거임)
			, ''					-- company_name(임시 - t_client.company_name 에서 가져올거임)
			, ''					-- company_number(임시 - t_client.business_number 에서 가져올거임)
			, #{requestDate}		-- request_date
			, null					-- expected_date(나중에 상세화면에서 우리가 적는 부분)
			, #{dueDate} 			-- due_date
			, #{destinationName}	-- destination_name
			, #{receiver}			-- reciver
			, #{phone1}				-- phone1
			, #{phone2}				-- phone2
			, #{postCode}			-- post_code
			, #{address1}			-- address1
			, #{address2}			-- address2
			, null					-- special_issue
			, null					-- is_deleted
			, null					-- reg_id(임시 - 나중에 session에서 가져올것)
			, now()					-- reg_date
			, null					-- mod_id(임시 - 나중에 session에서 가져올것)
			, now()					-- mod_date
		)
	</insert>
	<insert id="insertOrderDetail">
		INSERT INTO t_order_detail
		VALUES (
			null	-- idx(auto_increment)
			, null	-- document_number(임시)
			, null	-- department_code(임시)
			, #{clientName}	-- client_name
			, #{clientPhone}	-- client_phone
			, null	-- lot_number(임시)
			, null	-- invoice_issue(임시)
			, null	-- payment_status(임시)
			, null	-- unissued_status(임시)
			, null	-- supply_amount(임시)
			, null	-- vat_amount(임시)
			, null	-- total_amount(임시)
			, null	-- issue_code(임시)
			, null	-- issue_remaks(임시)
			, null	-- is_deleted
			, null	-- reg_id(임시 - 나중에 session에서 가져올것)
			, now()	-- reg_date
			, null	-- mod_id(임시 - 나중에 session에서 가져올것)
			, now()	-- mod_date
		)
	
	</insert>
</mapper>