<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/bs_layout}">
<head>
<title>팩토리(PackTory) - ERP/MES System</title>
<th:block layout:fragment="css">
	<link href="/css/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</th:block>
</head>
<body id="page-top">
<div layout:fragment="contents">
 		
<!-- Begin Page Content -->
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="card shadow mb-4">
 			
 				<!-- 타이틀 -->
 				<div class="card-header py-3">
					<h5 class="m-0 font-weight-bold text-primary">전자결재</h5>
				</div>
		
 				<!-- 본문 컨테이너 -->
 				<div class="card-body">
 				
  				<!-- 검색바 -->
   				<div class="search-wrap border">
   					<section class="d-flex search-inner">
   						<!-- 상태별 검색 -->
   						<div class="col pl-4 search-box">
   							<div class="search-ttl">상태별</div>
	   						<div class="category-filter input-group">
	   							<div class="form-check">
	   								<input class="form-check-input" id="reset" type="radio" name="sign_status"  value="0" checked>
	   								<label class="form-check-label" for="reset">전체</label>
								</div>
								<div class="form-check ml-3">
									<input class="form-check-input" id="signStatus1" type="radio" name="sign_status" value="1">
									<label class="form-check-label" for="signStatus1">진행중</label>
								</div>
								<div class="form-check ml-3">
									<input class="form-check-input" id="signStatus2" type="radio" name="sign_status" value="2">
									<label class="form-check-label" for="signStatus2">반려</label>
								</div>
								<div class="form-check ml-3">
									<input class="form-check-input" id="signStatus3" type="radio" name="sign_status" value="3">
									<label class="form-check-label" for="signStatus3">결재요청</label>
								</div>
								<div class="form-check ml-3">
								    <input class="form-check-input" id="signStatus4" type="radio" name="sign_status" value="4">
								    <label class="form-check-label" for="signStatus4">결재완료</label>
								</div>
							</div>
					    </div>
                        <!-- 날짜조회 -->
                        <div class="col-4 px-4 search-box">
                              	<div class="search-ttl">기간별</div>
							<div class="input-group align-items-center justify-content-center schDate-wrap">
								<input type="text" class="form-control rounded-sm mr-2" placeholder="날짜 선택" value="" name="schDate" id="schDate"  autocomplete="off"/>
								<button class="btn btn-primary" id="searchDateBtn" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
								<button class="btn btn-success ml-2" id="initDateBtn" type="button"><i class="fa-solid fa-rotate"></i></button>
							</div>
					    </div>
					    <!-- 키워드검색 -->
					    <div class="col-5 search-box">
	                        <div class="input-group">
	                            <input type="text" id="searchKeyword" class="form-control bg-light border small" name="keyword_search" placeholder="제목, 사용자 검색" aria-label="Search" aria-describedby="basic-addon2">
	                            <div class="input-group-append">
	                                <button class="btn btn-primary" id="searchBtn" type="button">검색</button>
	                            </div>
	                        </div>
                        </div>
			   		</section>
				</div>
 				<!-- 검색바 끝 -->
 					
				<!-- 그리드(테이블) -->
				<div class="table-responsive">
					<table class="table table-bordered compact" id="memberList" width="100%" cellspacing="0">
						<thead></thead>
						<tbody></tbody>
					</table>
				</div>
				
				
 				 </div>
 				 <!-- 본문 컨테이너 끝 -->
 					</div>
 				</div>
 			</div>
 		</div>
   </div>
   <!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
	
<!--     Logout Modal -->
<!--     <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" -->
<!--         aria-hidden="true"> -->
<!--         <div class="modal-dialog" role="document"> -->
<!--             <div class="modal-content"> -->
<!--                 <div class="modal-header"> -->
<!--                     <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5> -->
<!--                     <button class="close" type="button" data-dismiss="modal" aria-label="Close"> -->
<!--                         <span aria-hidden="true">×</span> -->
<!--                     </button> -->
<!--                 </div> -->
<!--                 <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div> -->
<!--                 <div class="modal-footer"> -->
<!--                     <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button> -->
<!--                     <a class="btn btn-primary" href="login.html">Logout</a> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
	
    <!-- Bootstrap core JavaScript-->
    <th:block layout:fragment="script">
		<script src="/js/datatables/jquery.dataTables.min.js"></script>
		<script src="/js/datatables/dataTables.bootstrap4.min.js"></script>
		<script src="/js/demo/datatables-demo.js"></script>
	</th:block>
    
</body>

</html>