<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.de.approval.mapper.ApprovalMapper">
	<resultMap id="draftResultMap" type="kr.co.itwillbs.de.approval.dto.DraftDTO">
	    <result property="drafter_id" column="id"/>
	    <result property="drafter_name" column="name"/>
	    <result property="drafter_department" column="department_name"/>
	    <result property="drafter_position" column="position_name"/>
	</resultMap>
	<select id="selectEmployeeInfo" parameterType="String" resultMap="draftResultMap">
		select *
		from employee_test
		where id = #{userId}
	</select>
	
</mapper>