<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.de.approval.mapper.ApprovalMapper">
	<sql id="templates" >
		<![CDATA[]]><!-- Character DATA(CDATA) 는 <![CDATA[문자열]]> 파싱되지 않고 그대로 출력을 위함, 쿼리에서 이스케이프 문자를 사용하지 않기 위해 썼음 -->
		<!-- 예시) 컬럼명 &gt;(&lt;) #{필드명} -> 컬럼명<![CDATA[>(<)]]> #{필드명} -->
		<if test="blabla != null"></if><!-- mybatis가 동적쿼리가 되는 시작 점. -->
		
		<choose><!-- mybatis switch 문 -->
			<when test="bla != null">
			</when>
			<when test="bla != null and blabla != null">
			</when>
			<otherwise>
			</otherwise>
		</choose>
		
		<where></where><!-- where 엘리먼트는 태그에 의해 컨텐츠가 리턴되면 단순히 “WHERE”만을 추가한다. 게다가 컨텐츠가 “AND”나 “OR”로 시작한다면 그 “AND”나 “OR”를 지워버린다. -->
		<trim prefix="WHERE" prefixOverrides="AND |OR "></trim><!-- 위의<where>의 <trim>버전 -->
		
		<set></set><!--  set 엘리먼트는 동적으로 SET 키워드를 붙히고 필요없는 콤마를 제거한다. -->
		<trim prefix="SET" suffixOverrides=","></trim><!-- 위의<set>의 <trim>버전 -->
		
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")" nullable="true">
			#{item}
		</foreach>
		
		<foreach item="item" index="index" collection="list">
			(#{item.index}, #{item.id}, #{item.name}, #{item.isDeleted})
		</foreach>
		<!-- like 문 사용 시
		[MySQL||H2]column LIKE CONCAT('%',#{keyword},'%')
		[Oracle]column LIKE '%'||#{keyword}||'%'
		[MSSQL]column LIKE '%'+#{keyword}+'%'
		 -->
	</sql>
	
	<sql id="t_approval_columns_forSelect">
		approval_no,
		approval_type,
		doc_no,
		title,
		content,
		upload_file,
		progress_status,
		drafter_id,
		draft_date,
		due_date,
		mod_id,
		mod_date,
		approver1,
		approver2,
		approver3,
		approver1_status,
		approver2_status,
		approver3_status,
		approver1_date,
		approver2_date,
		approver3_date,
		approver1_signature,
		approver2_signature,
		approver3_signature
	</sql>
	
	<sql id="t_approval_join_columns_forSelect">
		e.name,
		p.position_code,
		d.child_name,
		a.approval_no,
		a.approval_type,
		a.doc_no,
		a.title,
		a.content,
		a.progress_status,
		a.drafter_id,
		a.draft_date,
		a.due_date,
		a.approver1,
		a.approver2,
		a.approver3,
		a.approver1_status,
		a.approver2_status,
		a.approver3_status,
		a.approver1_date,
		a.approver2_date,
		a.approver3_date,
		a.approver1_signature,
		a.approver3_signature,
		a.approver2_signature
	</sql>
	<!-- ==================================================================== -->
	<!-- 보라씨 작업 -->
	<!-- 사원정보 조회 -->
	<resultMap id="draftResultMap" type="kr.co.itwillbs.de.approval.dto.DraftDTO">
	    <result property="drafterId" column="id"/>
	    <result property="drafterName" column="name"/>
	    <result property="drafterDepartment" column="department_name"/>
<!-- 	    <result property="drafterPosition" column="position_name"/> -->
	    <result property="drafterDepartment" column="department_code"/>
	    <result property="drafterPosition" column="position_code"/>
	</resultMap>
	
	<select id="selectEmployeeInfo" parameterType="String" resultMap="draftResultMap">
		select *
		FROM t_employee
		WHERE id = #{userId}
	</select>
	
	<!-- 결재 번호 최대값 확인 -->
	<select id="getLastApprovalNo" parameterType="String" resultType="String">
		SELECT approval_no
		FROM t_approval
		WHERE approval_no LIKE CONCAT('A',#{today}, '%')
		ORDER BY approval_no DESC
        LIMIT 1
	</select>
	
	
	<!-- ==================================================================== -->
	
	<!-- 전자결재 목록 조회 -->
	<select id="getApprovalList" resultType="kr.co.itwillbs.de.approval.dto.ApprovalDTO">
		SELECT 
		<include refid="t_approval_columns_forSelect"></include>
		  FROM t_approval
	</select>
	
<!-- 	<select id="getApprovalByApprovalNo" resultType="kr.co.itwillbs.de.approval.dto.ApprovalDTO"> -->
<!-- 		SELECT -->
<!-- 		<include refid="t_approval_columns_forSelect"></include> -->
<!-- 		  FROM t_approval -->
<!-- 		 WHERE approval_no = #{approvalNo} -->
<!-- 	</select> -->
	
	
	<!-- ==================================================================== -->
	<!-- 결재라인 검색용 사원정보 가져오기 -->
	<select id="getAllEmployeeInfo" resultMap="draftResultMap">
		SELECT id
			 , name
			 , department_code
			 , position_code
		  FROM t_employee
	</select>
	
	<!-- 결재라인 검색기능(AJAX) -->
	<select id="getSearchEmployeeInfo" resultMap="draftResultMap">
		SELECT id
			 , name
			 , department_code
			 , position_code
		  FROM t_employee
		<where>
			<if test='keyword != null and !("".equals(keyword.trim()))'>OR name LIKE CONCAT("%", #{keyword}, "%")</if>
			<if test='keyword != null and !("".equals(keyword.trim()))'>OR department_code LIKE CONCAT("%", #{keyword}, "%")</if>
			<if test='keyword != null and !("".equals(keyword.trim()))'>OR position_code LIKE CONCAT("%", #{keyword}, "%")</if>
		</where>
	</select>
	
	<!-- ==================================================================== -->
	
	
	<!-- 기안서 저장 -->
	<insert id="insertApproval" parameterType="kr.co.itwillbs.de.approval.dto.DraftDTO">
		INSERT
		  INTO t_approval (
		<trim suffixOverrides=",">
			   approval_no,
			   approval_type,
			   doc_no,
			   title,
			   content,
			   upload_file,
			   progress_status,
			   drafter_id,
			   draft_date,
			   due_date,
			   approver1,
			   approver2,
			   approver3,
		</trim>
		  	 )
		VALUES (
		<trim suffixOverrides=",">
			   #{approvalNo},
			   #{approvalType},
			   #{docNo},
			   #{title},
			   #{content},
			   #{uploadFile},
			   1,		-- 전자결재 초기값 1(결재요청)
			   #{drafterId},
			   NOW(),	-- 기안일자
			   #{dueDate},
			   #{approver1},
			   #{approver2},
			   #{approver3},
		</trim>
			 )
	</insert>
	
	<select id="getApprovalByApprovalNo" resultType="kr.co.itwillbs.de.approval.dto.ApprovalDTO">
		SELECT 
		<include refid="t_approval_join_columns_forSelect"></include>
		  FROM t_employee e
		  JOIN t_position_info p
		    ON e.position_code = p.position_code
		  JOIN t_department_info d
		    ON e.department_code = d.department_code
		   AND e.sub_department_code = d.child_code
		  JOIN t_approval a
		    ON e.id = a.drafter_id
		 WHERE a.approval_no = #{approvalNo};
	</select>
	
	
</mapper>


































