<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/bs_layout}">
<head>
    <title>팩토리(PackTory) - ERP/MES System</title>
</head>
<body id="page-top">
	<div layout:fragment="contents">
		<!-- Main Content -->
   		<main>
    		<div id="content">
    		<!-- ======================================================= -->
	   			<div class="container-fluid">
	   				<h1>전자결재(임시)</h1>
	   				<a href="/orders/client"><h1>거래처 관리</h1></a>
	   				<a href="/commute/management"><h1>출/퇴근 관리</h1></a>
	   				<a href="/approval"><h1>전자결재</h1></a>
	   				<a href="/orders/sell"><h1>수주 관리</h1></a>
	   				<a href="/orders/buy"><h1>발주 관리</h1></a>
	   				<a href="/groupware/notice"><h1>공지사항</h1></a>
	   				<a href="/groupware/policy"><h1>규정</h1></a>
	   				<a href="/groupware/message"><h1>알림메시지</h1></a>
	   				<a href="/human/employee"><h1>사원정보</h1></a>
	   				<a href="/human/department"><h1>부서정보</h1></a>
	   				<a href="/human/position"><h1>직급정보</h1></a>
	   			</div>
    		</div>
    		<!-- ======================================================= -->
   		</main>
	</div>

</body>

</html>