<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/de_layout}">
<head>
<title>팩토리(PackTory) - 상품 등록</title>

<style>
.form-label {
	font-weight: bold;
}

.card-header {
	background-color: #f8f9fc;
	font-weight: bold;
}

.card-body {
	padding: 2rem;
}
</style>
</head>
<body id="page-top">

	<!-- 페이지 내용 -->
	<div layout:fragment="contents">
		<div class="container mt-5">
			<!-- 카드 형식 -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">상품 등록</h6>
				</div>
				<div class="card-body">
					<form action="#" th:action="@{/mes/product/new}" th:object="${productDTO}" method="post">
					
						<div class="mb-3">
							<label for="type" class="form-label">타입</label> 
							<select class="form-select" id="type" th:field="*{type}" required>
								<option value="">선택하세요</option>
								<option th:each="code : ${codeItems}" th:value="${code.minorCode}" th:text="${code.minorName}"></option>
							</select>
						</div>

						<div class="mb-3">
							<label for="name" class="form-label">이름</label> 
							<input type="text" class="form-control" id="name" th:field="*{name}" placeholder="이름을 입력하세요" required>
						</div>
						
						<div class="mb-3">
							<label for="quantity" class="form-label">값</label> 
							<input type="number" class="form-control" id="quantity" th:field="*{quantity}" placeholder="값을 입력하세요" required>
						</div>
						
						<div class="mb-3">
							<label for="unit" class="form-label">단위</label> 
							<select class="form-select" id="unit" th:field="*{unit}" required>
								<option value="">단위 선택</option>
								<option value="kg">kg</option>
								<option value="g">g</option>
							</select>
						</div>
						
						<div class="mb-3">
							<label for="price" class="form-label">가격</label> 
							<input type="number" class="form-control" id="price" th:field="*{price}" placeholder="가격을 입력하세요" required>
						</div>

						<!-- 버튼들 -->
						<div class="col-md-12 row align-items-center justify-content-center">
							<button type="submit" id="btnSubmitForm" class="btn btn-primary btn-lg d-block col-3 ml-2 mb-3">등록</button>
							<a href="/mes/product" class="btn btn-secondary btn-lg d-block col-3 ml-2 mb-3">목록으로</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
