<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/de_layout}">
<head>
<title>Packtory 메인</title>
	<!-- FullCalendar CSS -->
	<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/main.min.css" rel="stylesheet" />
	<!-- FullCalendar JS -->
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
	<style>
		#calendar {
			max-width: 100%;
			margin: 20px auto;
			min-height: 500px;
		}
	</style>
</head>
<body id="page-top">
	<th:block layout:fragment="contents">
		<!-- Begin Page Content -->
		<div class="container-fluid">
		
			<!-- Page Heading -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-4 text-gray-800">메인!</h1>
			</div>

			<!-- Content Row -->
			<div class="row">
				<!-- Earnings (Monthly) Card Example -->
				<div class="col-xl-6 col-md-6 mb-4">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<strong class="me-2">📢 공지사항:</strong>
							<swiper-container>
								<swiper-slide>테스트 공지사항</swiper-slide>
								<swiper-slide>테스트테스트트세트세트테스트</swiper-slide>
								<swiper-slide>이건 아무도 못볼거야</swiper-slide>
								<swiper-slide>그냥 잘까?</swiper-slide>
							<!--/*<span th:each="notice : ${notices}"> <a
							th:href="@{/notice/detail/{id}(id=${notice.id})}"
							class="me-4 text-decoration-none text-dark">
								[[${notice.title}]]</a>
						</span> */--> 
							</swiper-container>
						</div>
					</div>
				</div>
				
				<!-- Earnings (Monthly) Card Example -->
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-info shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold text-info text-uppercase mb-1">
										Packtory 제작체감
									</div>
									<div class="row no-gutters align-items-center">
										<div class="col-auto">
											<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">30%</div>
										</div>
										<div class="col">
											<div class="progress progress-sm mr-2">
												<div class="progress-bar bg-info" role="progressbar"
													style="width: 30%" aria-valuenow="30" aria-valuemin="0"
													aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-auto">
									<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Earnings (Monthly) Card Example -->
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-success shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
										입사일 : <span th:text="${#authentication.principal.hireDate}"></span>
										</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800">
										<span th:text="${#authentication.principal.positionName}">직책</span>
										<span th:text="${#authentication.principal.name}">이름</span>
									</div>
								</div>
								<div class="col-auto">
									<i class="fas fa-comments fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- end of 1st row -->

			<!-- Content Row -->
			<div class="row">

				<!-- Content Column -->
				<div class="col-lg-9 mb-4">

					<!-- Project Card Example -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">일정</h6>
						</div>
						<div class="card-body">
							<!-- fullcalendar -->
							<div class="container mt-4">
								<div id="calendar"></div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-lg-3 mb-4">

					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">근태</h6>
						</div>
						<div class="card-body">
							<!-- hidden ! -->
							<input type="hidden" id="modelCheckInTime"
								th:value="${checkInTime}"> <input type="hidden"
								id="modelCheckOutTime" th:value="${checkOutTime}"> <input
								type="hidden" id="modelLastStatus"
								th:value="${lastCommuteRecord != null ? lastCommuteRecord.workStatusCode : ''}">

							<div class="commute-container">
								<div>
									출근시간 : <input type="text" id="checkInTime" class="mb-2"
										disabled><br> 퇴근시간 : <input type="text"
										id="checkOutTime" class="mb-2" disabled>
								</div>

								<div style="margin-left: 5px;">
									<th:block th:each="i : ${#numbers.sequence(0, codeItemList.size() - 1, 2)}" th:if="${i < 4}">
										<!-- 지각 버튼은 안나오게 하기 위함 -->
										<div class="d-flex flex-wrap mb-2">
											<th:block th:if="${i < codeItemList.size()}"
												th:with="item=${codeItemList[i]}">
												<button th:id="${item.minorName}"
													class="btn btn-primary mr-2 work-btn"
													th:data-code="${item.minorCode}"
													th:data-name="${item.minorName}"
													th:text="${item.minorName}"></button>
											</th:block>
											<th:block th:if="${i + 1 < codeItemList.size()}"
												th:with="item=${codeItemList[i + 1]}">
												<button th:id="${item.minorName}"
													class="btn btn-primary mr-2 work-btn"
													th:data-code="${item.minorCode}"
													th:data-name="${item.minorName}"
													th:text="${item.minorName}"></button>
											</th:block>
										</div>
									</th:block>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- end of 2nd row -->

			<hr>
			<span>세션 디버깅</span>
			<span th:text="${loginVO}"></span>
			<script type="text/javascript">
				document.addEventListener('DOMContentLoaded', function() {
					var calendarEl = document.getElementById('calendar');
					var calendar = new FullCalendar.Calendar(calendarEl, {
						initialView : 'dayGridMonth',
						locale : 'ko',
						headerToolbar : {
							left : 'prev,next today',
							center : 'title',
							right : 'dayGridMonth,timeGridWeek'
						},
						events : [
						// 나중에 서버에서 JSON 받아서 동적으로 처리 가능
						{
							title : '졸려1',
							start : '2025-04-07',
							end : '2025-04-11'
						},
						{
							title : '졸려2',
							start : '2025-04-08',
							end : '2025-04-11'
						},
						{
							title : '졸려3',
							start : '2025-04-09',
							end : '2025-04-11'
						},
						{
							title : '진짜? 1차야?',
							start : '2025-04-10'
						},
						{
							title : '2차...',
							start : '2025-05-07'
						} 
						]
					});
					calendar.render();
				});
			</script>	
		<!-- /.container-fluid -->
	</th:block>
</body>
</html>