<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/de_layout}">
<head>
<title>Packtory 메인</title>
</head>
<body id="page-top">
	<th:block layout:fragment="contents">
		<!-- Begin Page Content -->
		<div class="container-fluid">
		
			<!-- Page Heading -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-4 text-gray-800">메인!</h1>
			</div>
			<div th:text="${loginVO}"></div>
			<!-- 이후 작성 -->
		
		</div>
		<!-- /.container-fluid -->
	</th:block>
</body>
</html>