<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.de.mes.mapper.LotsMapper">

	<!-- href: https://mybatis.org/mybatis-3/ko/dynamic-sql.html -->
	<select id="templates" >
		<![CDATA[]]><!-- Character DATA(CDATA) 는 <![CDATA[문자열]]> 파싱되지 않고 그대로 출력을 위함, 쿼리에서 이스케이프 문자를 사용하지 않기 위해 썼음 -->
		<!-- 예시) 컬럼명 &gt;(&lt;) #{필드명} -> 컬럼명<![CDATA[>(<)]]> #{필드명} -->
		<if test="blabla != null"></if><!-- mybatis가 동적쿼리가 되는 시작 점. -->
		
		<choose><!-- mybatis switch 문 -->
			<when test="bla != null">
			</when>
			<when test="bla != null and blabla != null">
			</when>
			<otherwise>
			</otherwise>
		</choose>
		
		<where></where><!-- where 엘리먼트는 태그에 의해 컨텐츠가 리턴되면 단순히 “WHERE”만을 추가한다. 게다가 컨텐츠가 “AND”나 “OR”로 시작한다면 그 “AND”나 “OR”를 지워버린다. -->
		<trim prefix="WHERE" prefixOverrides="AND |OR "></trim><!-- 위의<where>의 <trim>버전 -->
		
		<set></set><!--  set 엘리먼트는 동적으로 SET 키워드를 붙히고 필요없는 콤마를 제거한다. -->
		<trim prefix="SET" suffixOverrides=","></trim><!-- 위의<set>의 <trim>버전 -->
		
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")" nullable="true">
			#{item}
		</foreach>
		
		<foreach item="item" index="index" collection="list">
			(#{item.index}, #{item.id}, #{item.name}, #{item.isDeleted})
		</foreach>
	</select>
	
	<sql id="t_lot_columns_forSelect">
		  idx
		, parents_idx
		, lot_number
		, product_idx
		, material_idx
		, work_order_document_number
		, process_code
		, unit
		, quantity
		, manufacturing_date
		, memo
		, is_deleted
		, reg_id
		, DATE_FORMAT(reg_date, '%Y-%m-%d %H:%i:%s') AS reg_date
		, mod_id
		, DATE_FORMAT(mod_date, '%Y-%m-%d %H:%i:%s') AS mod_date
	</sql>
	
		<!-- useGeneratedKeys : true 일때, keyProperty : idx >> affectRow가 아닌 생성된 idx가 리턴타입에 셋 mysql은 확인됨 -->
	<insert id="registerLots" useGeneratedKeys="true" keyProperty="idx" parameterType="kr.co.itwillbs.de.mes.dto.LotsDTO">
		INSERT INTO t_lots (
			<trim suffixOverrides=",">
			<if test='parentsIdx !=null and !("".equals(parentsIdx.trim()))'>
			parents_idx,
			</if>
			<if test='lotNumber !=null and !("".equals(lotNumber.trim()))'>
			lot_number,
			</if>
			<if test='productIdx !=null and !("".equals(productIdx.trim()))'>
			product_idx,
			</if>
			<if test='materialIdx !=null and !("".equals(materialIdx.trim()))'>
			material_idx,
			</if>
			<if test='workOrderDocumentNumber !=null and !("".equals(workOrderDocumentNumber.trim()))'>
			work_order_document_number,
			</if>
			<if test='processCode !=null and !("".equals(processCode.trim()))'>
			process_code,
			</if>
			<if test='unit !=null and !("".equals(unit.trim()))'>
			unit,
			</if>
			<if test='quantity !=null and !("".equals(quantity.trim()))'>
			quantity,
			</if>
			<if test='manufacturingDate !=null and !("".equals(manufacturingDate.trim()))'>
			manufacturing_date,
			</if>
			<if test='memo !=null and !("".equals(memo.trim()))'>
			memo,
			</if>
			<if test='isDeleted !=null and !("".equals(isDeleted.trim()))'>
			is_deleted,
			</if>
			reg_id,
			reg_date,
			</trim>
		) VALUES (
			<trim suffixOverrides=",">
			<if test='parentsIdx !=null and !("".equals(parentsIdx.trim()))'>
			#{parentsIdx},
			</if>
			<if test='lotNumber !=null and !("".equals(lotNumber.trim()))'>
			#{lotNumber},
			</if>
			<if test='productIdx !=null and !("".equals(productIdx.trim()))'>
			#{productIdx},
			</if>
			<if test='materialIdx !=null and !("".equals(materialIdx.trim()))'>
			#{materialIdx},
			</if>
			<if test='workOrderDocumentNumber !=null and !("".equals(workOrderDocumentNumber.trim()))'>
			#{workOrderDocumentNumber},
			</if>
			<if test='processCode !=null and !("".equals(processCode.trim()))'>
			#{processCode},
			</if>
			<if test='unit !=null and !("".equals(unit.trim()))'>
			#{unit},
			</if>
			<if test='quantity !=null and !("".equals(quantity.trim()))'>
			#{quantity},
			</if>
			<if test='manufacturingDate !=null and !("".equals(manufacturingDate.trim()))'>
			#{manufacturingDate},
			</if>
			<if test='memo !=null and !("".equals(memo.trim()))'>
			#{memo},
			</if>
			<if test='isDeleted !=null and !("".equals(isDeleted.trim()))'>
			#{isDeleted},
			</if>
			#{regId},
			now(),
			</trim>
			)
	</insert>
	
	<select id="getLotsCountBySearchDTO" parameterType="kr.co.itwillbs.de.mes.dto.LotsSearchDTO"
										resultType="int">
		SELECT 
			count(*)
		FROM t_lots
		<where>
			<if test='lotNumber !=null and !("".equals(lotNumber.trim()))'>AND lot_number LIKE CONCAT('%',#{lotNumber},'%')</if>
			<if test='productIdx !=null and !("".equals(productIdx.trim()))'>AND product_idx LIKE CONCAT('%',#{productIdx},'%')</if>
			<if test='materialIdx !=null and !("".equals(materialIdx.trim()))'>AND material_idx LIKE CONCAT('%',#{materialIdx},'%')</if>
			<if test='workOrderDocumentNumber !=null and !("".equals(workOrderDocumentNumber.trim()))'>AND work_order_document_number LIKE CONCAT('%',#{workOrderDocumentNumber},'%')</if>
			<if test='processCode !=null and !("".equals(processCode.trim()))'>AND process_code LIKE CONCAT('%',#{processCode},'%')</if>
			<if test='manufacturingDate !=null and !("".equals(manufacturingDate.trim()))'>AND manufacturing_date LIKE CONCAT('%',#{manufacturingDate},'%')</if>
			<if test='memo !=null and !("".equals(memo.trim()))'>AND memo LIKE CONCAT('%',#{memo},'%')</if>
			<if test='isDeleted !=null and !("".equals(isDeleted.trim()))'>AND is_deleted = #{isDeleted}</if>
		</where>
	</select>

	<select id="getLotsBySearchDTO" parameterType="kr.co.itwillbs.de.mes.dto.LotsSearchDTO"
									resultType="kr.co.itwillbs.de.mes.dto.LotsDTO">
		SELECT 
			<include refid="t_lot_columns_forSelect"></include> 
		FROM t_lots
		<where>
			<if test='lotNumber !=null and !("".equals(lotNumber.trim()))'>AND lot_number LIKE CONCAT('%',#{lotNumber},'%')</if>
			<if test='productIdx !=null and !("".equals(productIdx.trim()))'>AND product_idx LIKE CONCAT('%',#{productIdx},'%')</if>
			<if test='materialIdx !=null and !("".equals(materialIdx.trim()))'>AND material_idx LIKE CONCAT('%',#{materialIdx},'%')</if>
			<if test='workOrderDocumentNumber !=null and !("".equals(workOrderDocumentNumber.trim()))'>AND work_order_document_number LIKE CONCAT('%',#{workOrderDocumentNumber},'%')</if>
			<if test='processCode !=null and !("".equals(processCode.trim()))'>AND process_code LIKE CONCAT('%',#{processCode},'%')</if>
			<if test='manufacturingDate !=null and !("".equals(manufacturingDate.trim()))'>AND manufacturing_date LIKE CONCAT('%',#{manufacturingDate},'%')</if>
			<if test='memo !=null and !("".equals(memo.trim()))'>AND memo LIKE CONCAT('%',#{memo},'%')</if>
			<if test='isDeleted !=null and !("".equals(isDeleted.trim()))'>AND is_deleted = #{isDeleted}</if>
		</where>
		LIMIT #{pageDTO.size} OFFSET #{pageDTO.offset}
	</select>
	
	<select id="getLotsByIdx" parameterType="string"
									resultType="kr.co.itwillbs.de.mes.dto.LotsDTO">
		SELECT 
			<include refid="t_lot_columns_forSelect"></include> 
		FROM t_lots
		where idx = #{idx}
	</select>
	
	<!-- <set>이 분명 마지막 , 를 제거해준다고 알고 있다? 맞나? -->
	<update id="modifyLots" parameterType="kr.co.itwillbs.de.mes.dto.LotsDTO">
		UPDATE t_lots
			<set>
				<if test='parentsIdx !=null and !("".equals(parentsIdx.trim()))'>parents_idx = #{parentsIdx},</if>
				<if test='lotNumber !=null and !("".equals(lotNumber.trim()))'>lot_number = #{lotNumber},</if>
				<if test='productIdx !=null and !("".equals(productIdx.trim()))'>product_idx = #{productIdx},</if>
				<if test='materialIdx !=null and !("".equals(materialIdx.trim()))'>material_idx = #{materialIdx},</if>
				<if test='workOrderDocumentNumber !=null and !("".equals(workOrderDocumentNumber.trim()))'>work_order_document_number = #{workOrderDocumentNumber},</if>
				<if test='processCode !=null and !("".equals(processCode.trim()))'>process_code = #{processCode},</if>
				<if test='unit !=null and !("".equals(unit.trim()))'>unit = #{unit},</if>
				<if test='quantity !=null'>quantity = #{quantity},</if>
				<if test='manufacturingDate !=null and !("".equals(manufacturingDate.trim()))'>manufacturing_date = #{manufacturingDate},</if>
				<if test='memo !=null and !("".equals(memo.trim()))'>memo = #{memo},</if>
				<if test='isDeleted !=null and !("".equals(isDeleted.trim()))'>is_deleted = #{isDeleted},</if>
				<if test='modId !=null and !("".equals(modId.trim()))'>mod_id = #{modId},</if>
				<if test='modId !=null and !("".equals(modId.trim()))'>mod_date = now(),</if>
			</set>
		WHERE idx = #{idx}
	</update>
	
</mapper>