<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.de.mes.mapper.RawMaterialMapper">

	<!-- 마스터 자재 등록 -->
	<insert id="insertMasterMaterial" useGeneratedKeys="true" keyProperty="idx" parameterType="kr.co.itwillbs.de.mes.dto.RawMaterialDTO">
		INSERT INTO t_raw_material (
		<trim suffixOverrides=",">
			<if test='type != null and !("".equals(type.trim()))'>
				type,
			</if>
			<if test='qcType != null and !("".equals(qcType.trim()))'>
				qc_type,
			</if>
			<if test='name != null and !("".equals(name.trim()))'>
				name,
			</if>
			<if test='isDeleted !=null and !("".equals(isDeleted.trim()))'>
				is_deleted,
			</if>
			reg_id,
			reg_date,
		</trim>
		) VALUES (
		<trim suffixOverrides=",">
			<if test='qcType != null and !("".equals(qcType.trim()))'>
				#{qcType},
			</if>
			<if test='type != null and !("".equals(type.trim()))'>
				#{type},
			</if>
			<if test='name != null and !("".equals(name.trim()))'>
				#{name},
			</if>
			<if test='isDeleted !=null and !("".equals(isDeleted.trim()))'>
				#{isDeleted},
			</if>
			#{regId},
			now(),
		</trim>
		)
	</insert>

	<!-- 마스터 자재 조회 + 페이징 -->
	<select id="MasterMaterialCount" parameterType="kr.co.itwillbs.de.mes.dto.RawMaterialSearchDTO" resultType="int">
		SELECT count(*)
		FROM t_raw_material r
		<where>
			<if test="type != null and !(''.equals(type.trim()))">
				AND r.type = #{type}
			</if>
			<if test="name != null and !(''.equals(name.trim()))">
				AND r.name LIKE '%' || #{name} || '%'
			</if>
			<if test="isDeleted != null and !(''.equals(isDeleted.trim()))">
				AND r.is_deleted LIKE '%' || #{isDeleted} || '%'
			</if>
			AND r.parents_idx IS NULL
		</where>
	</select>

	<!-- 마스터 자재 조회 -->
	<select id="MasterMaterial" parameterType="kr.co.itwillbs.de.mes.dto.RawMaterialSearchDTO" resultType="kr.co.itwillbs.de.mes.dto.RawMaterialDTO">
		<include refid="PublicSql.NumberedPatternByIdForMySql8Top" />

		SELECT
		r.*,
		c.minor_name AS type_name,
		ci.minor_name AS unit_name,
		FROM t_raw_material r
		LEFT JOIN t_commoncode_item c
		ON r.type = c.minor_code AND c.major_code = 'MATERIAL_TYPE'
		LEFT JOIN t_commoncode_item ci
		ON r.unit = ci.minor_code AND ci.major_code = 'ITEM_UNIT'
		<where>
			<if test="type != null and !(''.equals(type.trim()))">
				AND r.type = #{type}
			</if>
			<if test="name != null and !(''.equals(name.trim()))">
				AND r.name LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="isDeleted != null and !(''.equals(isDeleted.trim()))">
				AND r.is_deleted LIKE CONCAT('%', #{isDeleted}, '%')
			</if>
			AND r.parents_idx IS NULL
		</where>

		<include refid="PublicSql.OriginalNumberedPatternByIdForMySql8Bottom" />
	</select>

	<!-- 마스터 자재 상세 조회 -->
	<select id="getMasterMaterialByIdx" parameterType="Long" resultType="kr.co.itwillbs.de.mes.dto.RawMaterialDTO">
		SELECT
		r.*,
		c.minor_name AS type_name,
		qc.name AS qc_type_name
		FROM
		t_raw_material r
		LEFT JOIN t_commoncode_item c ON r.type = c.minor_code AND c.major_code = "MATERIAL_TYPE"
		LEFT JOIN t_qc_standard qc ON r.type = qc.type
		WHERE r.idx = #{idx}
	</select>

	<!-- 마스터 자재 정보 수정 -->
	<update id="updateMasterMaterial" parameterType="kr.co.itwillbs.de.mes.dto.RawMaterialDTO">
		UPDATE t_raw_material
		<set>
			<if test='type != null and !("".equals(type.trim()))'>type = #{type},</if>
			<if test='qcType != null and !("".equals(qcType.trim()))'>qc_type = #{qcType},</if>
			<if test='name != null and !("".equals(name.trim()))'>name = #{name},</if>
			<if test='storageCondition != null and !("".equals(storageCondition.trim()))'>storage_condition = #{storageCondition},</if>
			<if test='isDeleted != null and !("".equals(isDeleted.trim()))'>is_deleted = #{isDeleted},</if>
			<if test='modId != null and !("".equals(modId.trim()))'>mod_id = #{modId},</if>
			<if test='modId !=null and !("".equals(modId.trim()))'>mod_date = now(),</if>
		</set>
		WHERE idx = #{idx}
	</update>

	<!-- 부속 자재 조회 -->
	<select id="getSubMaterialsByIdx" parameterType="Long" resultType="kr.co.itwillbs.de.mes.dto.RawMaterialDTO">
		SELECT
		r.*,
		cp.company_name AS clientcompanyname,
		cc.minor_name AS type_name
		FROM
		t_raw_material r
		LEFT JOIN t_client cp ON r.client_idx = cp.idx
		LEFT JOIN t_commoncode_item cc ON r.type = cc.minor_code AND cc.major_code = "MATERIAL_TYPE"
		WHERE r.parents_idx = #{parentIdx} AND r.is_deleted = 'N'
	</select>

	<!-- 부속 자재 등록 -->
	<insert id="insertSubMaterial" useGeneratedKeys="true" keyProperty="idx" parameterType="kr.co.itwillbs.de.mes.dto.RawMaterialDTO">
		INSERT INTO t_raw_material (
		<trim suffixOverrides=",">
			parents_idx,
			type,
			<if test='clientIdx != null'>client_idx,</if>
			<if test='name != null and !("".equals(name.trim()))'>name,</if>
			<if test='unit != null and !("".equals(unit.trim()))'>unit,</if>
			<if test='quantity != null'>quantity,</if>
			<if test='price != null'>price,</if>
			<if test='leadTime != null'>lead_time,</if>
			<if test='expiryDate != null'>expiry_date,</if>
			<if test='msdsLink != null and !("".equals(msdsLink.trim()))'>msds_link,</if>
			<if test='isDeleted != null and !("".equals(isDeleted.trim()))'>is_deleted,</if>
			reg_id,
			reg_date,
		</trim>
		) VALUES (
		<trim suffixOverrides=",">
			#{parentsIdx},
			#{type},
			<if test='clientIdx != null'>#{clientIdx},</if>
			<if test='name != null and !("".equals(name.trim()))'>#{name},</if>
			<if test='unit != null and !("".equals(unit.trim()))'>#{unit},</if>
			<if test='quantity != null'>#{quantity},</if>
			<if test='price != null'>#{price},</if>
			<if test='leadTime != null'>#{leadTime},</if>
			<if test='expiryDate != null'>#{expiryDate},</if>
			<if test='msdsLink != null and !("".equals(msdsLink.trim()))'>#{msdsLink},</if>
			<if test='isDeleted != null and !("".equals(isDeleted.trim()))'>#{isDeleted},</if>
			#{regId},
			now(),
		</trim>
		)
	</insert>

	<!-- 부속 자재 정보 수정 -->
	<update id="updateSubMaterial" parameterType="kr.co.itwillbs.de.mes.dto.RawMaterialDTO">
		UPDATE t_raw_material
		<set>
			<if test='clientIdx != null'>client_idx = #{clientIdx},</if>
			<if test='name != null and !("".equals(name.trim()))'>name = #{name},</if>
			<if test='unit != null and !("".equals(unit.trim()))'>unit = #{unit},</if>
			<if test='quantity != null'>quantity = #{quantity},</if>
			<if test='price != null'>price = #{price},</if>
			<if test='leadTime != null'>lead_time = #{leadTime},</if>
			<if test='expiryDate != null'>expiry_date = #{expiryDate},</if>
			<if test='msdsLink != null and !("".equals(msdsLink.trim()))'>msds_link = #{msdsLink},</if>
			<if test='isDeleted != null and !("".equals(isDeleted.trim()))'>is_deleted = #{isDeleted},</if>
			<if test='modId != null and !("".equals(modId.trim()))'>mod_id = #{modId},</if>
			<if test='modId != null and !("".equals(modId.trim()))'>mod_date = now(),</if>
		</set>
		WHERE idx = #{idx}
	</update>

	<!-- 원자재 정보 들고가기 (외부용) -->
	<select id="selectRawMaterialList" parameterType="Long" resultType="kr.co.itwillbs.de.mes.dto.RawMaterialDTO">
		SELECT idx, name
		FROM t_raw_material
		WHERE is_deleted = 'N'
	</select>

</mapper>
