<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.de.mes.mapper.RecipeProcessMapper">

	<!-- href: https://mybatis.org/mybatis-3/ko/dynamic-sql.html -->
	<select id="templates" >
		<![CDATA[]]><!-- Character DATA(CDATA) 는 <![CDATA[문자열]]> 파싱되지 않고 그대로 출력을 위함, 쿼리에서 이스케이프 문자를 사용하지 않기 위해 썼음 -->
		<!-- 예시) 컬럼명 &gt;(&lt;) #{필드명} -> 컬럼명<![CDATA[>(<)]]> #{필드명} -->
		<if test="blabla != null"></if><!-- mybatis가 동적쿼리가 되는 시작 점. -->
		
		<choose><!-- mybatis switch 문 -->
			<when test="bla != null">
			</when>
			<when test="bla != null and blabla != null">
			</when>
			<otherwise>
			</otherwise>
		</choose>
		
		<where></where><!-- where 엘리먼트는 태그에 의해 컨텐츠가 리턴되면 단순히 “WHERE”만을 추가한다. 게다가 컨텐츠가 “AND”나 “OR”로 시작한다면 그 “AND”나 “OR”를 지워버린다. -->
		<trim prefix="WHERE" prefixOverrides="AND |OR "></trim><!-- 위의<where>의 <trim>버전 -->
		
		<set></set><!--  set 엘리먼트는 동적으로 SET 키워드를 붙히고 필요없는 콤마를 제거한다. -->
		<trim prefix="SET" suffixOverrides=","></trim><!-- 위의<set>의 <trim>버전 -->
		
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")" nullable="true">
			#{item}
		</foreach>
		
		<foreach item="item" index="index" collection="list">
			(#{item.index}, #{item.id}, #{item.name}, #{item.isDeleted})
		</foreach>
	</select>
	
	<sql id="t_recipe_process_columns_forSelect">
		  idx
		, master_idx
		, name
		, code
		, code_seq
		, qc_type
		, standard_time
		, max_time
		, is_deleted
		, reg_id
		, DATE_FORMAT(reg_date, '%Y-%m-%d %H:%i:%s') AS reg_date
		, mod_id
		, DATE_FORMAT(mod_date, '%Y-%m-%d %H:%i:%s') AS mod_date
	</sql>
	
		<!-- useGeneratedKeys : true 일때, keyProperty : idx >> affectRow가 아닌 생성된 idx가 리턴타입에 셋 mysql은 확인됨 -->
	<insert id="registerRecipeProcess" useGeneratedKeys="true" keyProperty="idx" parameterType="kr.co.itwillbs.de.mes.dto.RecipeProcessDTO">
		INSERT INTO t_recipe_process_code (
			<trim suffixOverrides=",">
			<if test='masterIdx !=null and !("".equals(masterIdx.trim()))'>
			master_idx,
			</if>
			<if test='name !=null and !("".equals(name.trim()))'>
			name,
			</if>
			<if test='code !=null and !("".equals(code.trim()))'>
			code,
			</if>
			<if test='codeSeq !=null and !("".equals(codeSeq.trim()))'>
			code_seq,
			</if>
			<if test='qcType !=null and !("".equals(qcType.trim()))'>
			qc_type,
			</if>
			<if test='standardTime !=null and !("".equals(standardTime.trim()))'>
			standard_time,
			</if>
			<if test='maxTime !=null and !("".equals(maxTime.trim()))'>
			max_time,
			</if>
			<if test='isDeleted !=null and !("".equals(isDeleted.trim()))'>
			is_deleted,
			</if>
			reg_id,
			reg_date,
			</trim>
		) VALUES (
			<trim suffixOverrides=",">
			<if test='masterIdx !=null and !("".equals(masterIdx.trim()))'>
			#{masterIdx},
			</if>
			<if test='name !=null and !("".equals(name.trim()))'>
			#{name},
			</if>
			<if test='code !=null and !("".equals(code.trim()))'>
			#{code},
			</if>
			<if test='codeSeq !=null and !("".equals(codeSeq.trim()))'>
			#{codeSeq},
			</if>
			<if test='qcType !=null and !("".equals(qcType.trim()))'>
			#{qcType},
			</if>
			<if test='standardTime !=null and !("".equals(standardTime.trim()))'>
			#{standardTime},
			</if>
			<if test='maxTime !=null and !("".equals(maxTime.trim()))'>
			#{maxTime},
			</if>
			<if test='isDeleted !=null and !("".equals(isDeleted.trim()))'>
			#{isDeleted},
			</if>
			#{regId},
			now(),
			</trim>
			)
	</insert>
	
	<select id="getRecipesProcessCountBySearchDTO" parameterType="kr.co.itwillbs.de.mes.dto.RecipeProcessSearchDTO"
										resultType="int">
		SELECT 
			count(*)
		FROM t_recipe_process_code
		<where>
			<if test='masterIdx !=null and !("".equals(masterIdx.trim()))'>AND master_idx = #{masterIdx}</if>
			<if test='name !=null and !("".equals(name.trim()))'>AND name LIKE CONCAT('%',#{name},'%')</if>
			<if test='code !=null and !("".equals(code.trim()))'>AND code LIKE CONCAT('%',#{code},'%')</if>
			<if test='codeSeq !=null and !("".equals(codeSeq.trim()))'>AND code_seq LIKE CONCAT('%',#{codeSeq},'%')</if>
			<if test='standardTime !=null and !("".equals(standardTime.trim()))'>AND standard_time LIKE CONCAT('%',#{standardTime},'%')</if>
			<if test='maxTime !=null and !("".equals(maxTime.trim()))'>AND max_time LIKE CONCAT('%',#{maxTime},'%')</if>
			<if test='isDeleted !=null and !("".equals(isDeleted.trim()))'>AND is_deleted = #{isDeleted}</if>
		</where>
	</select>

	<select id="getRecipesProcessBySearchDTO" parameterType="kr.co.itwillbs.de.mes.dto.RecipeProcessSearchDTO"
									resultType="kr.co.itwillbs.de.mes.dto.RecipeProcessDTO">
		SELECT 
			<include refid="t_recipe_process_columns_forSelect"></include> 
		FROM t_recipe_process_code
		<where>
			<if test='masterIdx !=null and !("".equals(masterIdx.trim()))'>AND master_idx = #{masterIdx}</if>
			<if test='name !=null and !("".equals(name.trim()))'>AND name LIKE CONCAT('%',#{name},'%')</if>
			<if test='code !=null and !("".equals(code.trim()))'>AND code LIKE CONCAT('%',#{code},'%')</if>
			<if test='codeSeq !=null and !("".equals(codeSeq.trim()))'>AND code_seq LIKE CONCAT('%',#{codeSeq},'%')</if>
			<if test='standardTime !=null and !("".equals(standardTime.trim()))'>AND standard_time LIKE CONCAT('%',#{standardTime},'%')</if>
			<if test='maxTime !=null and !("".equals(maxTime.trim()))'>AND max_time LIKE CONCAT('%',#{maxTime},'%')</if>
			<if test='isDeleted !=null and !("".equals(isDeleted.trim()))'>AND is_deleted = #{isDeleted}</if>
		</where>
		LIMIT #{pageDTO.size} OFFSET #{pageDTO.offset}
	</select>
	
	<select id="getRecipeProcessByIdx" parameterType="string"
									resultType="kr.co.itwillbs.de.mes.dto.RecipeProcessDTO">
		SELECT 
			<include refid="t_recipe_process_columns_forSelect"></include> 
		FROM t_recipe_process_code
		where idx = #{idx}
	</select>
	
	
	
	<!-- <set>이 분명 마지막 , 를 제거해준다고 알고 있다? 맞나? -->
	<update id="modifyRecipeProcess" parameterType="kr.co.itwillbs.de.mes.dto.RecipeProcessDTO">
		UPDATE t_recipe_process_code
			<set>
				<if test='masterIdx !=null and !("".equals(masterIdx.trim()))'>master_idx = #{masterIdx},</if>
				<if test='name !=null and !("".equals(name.trim()))'>name = #{name},</if>
				<if test='code !=null and !("".equals(code.trim()))'>code = #{code},</if>
				<if test='codeSeq !=null and !("".equals(codeSeq.trim()))'>code_seq = #{codeSeq},</if>
				qc_type = #{qcType},
				<if test='standardTime !=null and !("".equals(standardTime.trim()))'>standard_time = #{standardTime},</if>
				<if test='maxTime !=null and !("".equals(maxTime.trim()))'>max_time = #{maxTime},</if>
				<if test='isDeleted !=null and !("".equals(isDeleted.trim()))'>is_deleted = #{isDeleted},</if>
				<if test='modId !=null and !("".equals(modId.trim()))'>mod_id = #{modId},</if>
				<if test='modId !=null and !("".equals(modId.trim()))'>mod_date = now(),</if>
			</set>
		WHERE idx = #{idx}
	</update>
	
	<update id="removeSample" parameterType="kr.co.itwillbs.de.sample.dto.SampleSearchDTO">
		update t_demo
			<set>
				<if test="isDeleted != null">is_deleted = #{isDeleted},</if>
			</set>
		where idx = #{idx}
	</update>
	
</mapper>