<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.de.mes.mapper.WarehouseMapper">

	<!-- 창고 등록 -->
	<insert id="insertWarehouse" useGeneratedKeys="true"
		keyProperty="idx"
		parameterType="kr.co.itwillbs.de.mes.dto.WarehouseDTO">
		INSERT INTO t_warehouse (
		<trim suffixOverrides=",">
			product_idx,
			lot_idx,
			type,
			name,
			direction_code,
			unit,
			quantity,
			used_quantity,
			manufacturing_date,
			expiry_date,
			status,
			memo,
			reg_id,
			reg_date,
			is_deleted
		</trim>
		) VALUES (
		<trim suffixOverrides=",">
			#{productIdx},
			#{lotIdx},
			#{type},
			#{name},
			#{directionCode},
			#{unit},
			#{quantity},
			#{usedQuantity},
			#{manufacturingDate},
			#{expiryDate},
			#{status},
			#{memo},
			#{regId},
			NOW(),
			'N'
		</trim>
		)
	</insert>

	<!-- 목록 조회 + 페이징 -->
	<select id="searchWarehouseCount"
		parameterType="kr.co.itwillbs.de.mes.dto.WarehouseSearchDTO"
		resultType="int">
		SELECT count(*)
		FROM t_warehouse w
		WHERE w.is_deleted = 'N'

		<if test="directionCode != null and directionCode != ''">
			AND w.direction_code = #{directionCode}
		</if>

		<if test="name != null and name != ''">
			AND w.name LIKE CONCAT('%', #{name}, '%')
		</if>

		<if test="productIdx != null and productIdx != ''">
			AND w.product_idx = #{productIdx}
		</if>

		<choose>
			<when
				test="startManufacturingDate != null and startManufacturingDate != null">
				and w.manufacturing_date BETWEEN
				STR_TO_DATE(CONCAT(#{startManufacturingDate},'000000'),'%Y-%m-%d%H%i%S')
				AND
				STR_TO_DATE(CONCAT(#{endManufacturingDate},
				'235959'),'%Y-%m-%d%H%i%S')
			</when>
			<when
				test="startManufacturingDate != null and endManufacturingDate == null">
				and hire_date <![CDATA[>=]]>
				STR_TO_DATE(CONCAT(#{startManufacturingDate},'000000'),'%Y-%m-%d%H%i%S')
			</when>
			<when
				test="startManufacturingDate == null and endManufacturingDate != null">
				and hire_date <![CDATA[<=]]>
				STR_TO_DATE(CONCAT(#{endManufacturingDate},
				'235959'),'%Y-%m-%d%H%i%S')
			</when>
		</choose>

		<if test="minQuantity != null">
			AND w.quantity &gt;= #{minQuantity}
		</if>

		<if test="maxQuantity != null">
			AND w.quantity &lt;= #{maxQuantity}
		</if>
	</select>


	<select id="searchWarehouse"
		parameterType="kr.co.itwillbs.de.mes.dto.WarehouseSearchDTO"
		resultType="kr.co.itwillbs.de.mes.dto.WarehouseDTO">

		SELECT
		w.*,
		p.name AS product_name
		FROM t_warehouse w
		LEFT JOIN t_product
		p ON w.product_idx = CAST(p.idx AS CHAR)
		WHERE w.is_deleted = 'N'

		<if test="directionCode != null and directionCode != ''">
			AND w.direction_code = #{directionCode}
		</if>

		<if test="name != null and name != ''">
			AND w.name LIKE CONCAT('%', #{name}, '%')
		</if>

		<if test="productIdx != null and productIdx != ''">
			AND w.product_idx = #{productIdx}
		</if>

		<choose>
			<when
				test="startManufacturingDate != null and startManufacturingDate != null">
				and w.manufacturing_date BETWEEN
				STR_TO_DATE(CONCAT(#{startManufacturingDate},'000000'),'%Y-%m-%d%H%i%S')
				AND
				STR_TO_DATE(CONCAT(#{endManufacturingDate},
				'235959'),'%Y-%m-%d%H%i%S')
			</when>
			<when
				test="startManufacturingDate != null and endManufacturingDate == null">
				and hire_date <![CDATA[>=]]>
				STR_TO_DATE(CONCAT(#{startManufacturingDate},'000000'),'%Y-%m-%d%H%i%S')
			</when>
			<when
				test="startManufacturingDate == null and endManufacturingDate != null">
				and hire_date <![CDATA[<=]]>
				STR_TO_DATE(CONCAT(#{endManufacturingDate},
				'235959'),'%Y-%m-%d%H%i%S')
			</when>
		</choose>

		<if test="minQuantity != null">
			AND w.quantity &gt;= #{minQuantity}
		</if>

		<if test="maxQuantity != null">
			AND w.quantity &lt;= #{maxQuantity}
		</if>

		<!-- 페이징 처리 -->
		ORDER BY w.idx ASC
		LIMIT #{pageDTO.size} OFFSET #{pageDTO.offset}
	</select>

	<!-- 창고 상세 조회 -->
	<select id="getWarehouseByIdx" parameterType="Long"
		resultType="kr.co.itwillbs.de.mes.dto.WarehouseDTO">
		SELECT *
		FROM t_warehouse
		WHERE idx = #{idx}
		AND 
		is_deleted ='N'
	</select>

	<!-- 창고 정보 수정 -->
	<update id="updateWarehouse"
		parameterType="kr.co.itwillbs.de.mes.dto.WarehouseDTO">
		UPDATE t_warehouse
		SET
		product_idx = #{productIdx},
		lot_idx = #{lotIdx},
		type = #{type},
		direction_code = #{directionCode},
		quantity = #{quantity},
		used_quantity = #{usedQuantity},
		unit = #{unit},
		manufacturing_date = #{manufacturingDate},
		expiry_date = #{expiryDate},
		name = #{name},
		memo = #{memo},
		status = #{status},
		mod_id = #{modId},
		mod_date = NOW()
		WHERE idx = #{idx}
		AND
		is_deleted = 'N'
	</update>


	<!-- 창고 삭제 (Soft Delete) -->
	<update id="deleteWarehouse" parameterType="Long">
		UPDATE t_warehouse
		SET
		is_deleted = 'Y',
		mod_date = NOW()
		WHERE idx = #{idx}
	</update>

	<!-- 창고 정보 들고가기 -->
	<select id="selectWarehouseList"
		resultType="kr.co.itwillbs.de.mes.dto.WarehouseDTO">
		SELECT *
		FROM t_warehouse
		WHERE is_deleted = 'N'
	</select>

</mapper>
