<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.de.mes.mapper.WarehouseMapper">

	<!-- 창고 등록 -->
	<insert id="insertWarehouse" useGeneratedKeys="true" keyProperty="idx" parameterType="kr.co.itwillbs.de.mes.dto.WarehouseDTO">
		INSERT INTO t_warehouse (
		<trim suffixOverrides=",">
			<if test='productIdx != null and !("".equals(productIdx.trim()))'>
				product_idx,
			</if>
			<if test='lotIdx != null and !("".equals(lotIdx.trim()))'>
				lot_idx,
			</if>
			<if test='type != null and !("".equals(type.trim()))'>
				type,
			</if>
			<if test='name != null and !("".equals(name.trim()))'>
				name,
			</if>
			<if test='directionCode != null and !("".equals(directionCode.trim()))'>
				direction_code,
			</if>
			<if test='unit != null and !("".equals(unit.trim()))'>
				unit,
			</if>
			<if test='quantity != null'>
				quantity,
			</if>
			<if test='usedQuantity != null'>
				used_quantity,
			</if>
			<if test='manufacturingDate != null'>
				manufacturing_date,
			</if>
			<if test='expiryDate != null'>
				expiry_date,
			</if>
			<if test='status != null and !("".equals(status.trim()))'>
				status,
			</if>
			<if test='memo !=null and !("".equals(memo.trim()))'>
				memo,
			</if>
			<if test='isDeleted !=null and !("".equals(isDeleted.trim()))'>
				is_deleted,
			</if>
			reg_id,
			reg_date,
		</trim>
		) VALUES (
		<trim suffixOverrides=",">
			<if test='productIdx != null and !("".equals(productIdx.trim()))'>
				#{productIdx},
			</if>
			<if test='lotIdx != null and !("".equals(lotIdx.trim()))'>
				#{lotIdx},
			</if>
			<if test='type != null and !("".equals(type.trim()))'>
				#{type},
			</if>
			<if test='name != null and !("".equals(name.trim()))'>
				#{name},
			</if>
			<if test='directionCode != null and !("".equals(directionCode.trim()))'>
				#{directionCode},
			</if>
			<if test='unit != null and !("".equals(unit.trim()))'>
				#{unit},
			</if>
			<if test='quantity != null'>
				#{quantity},
			</if>
			<if test='usedQuantity != null'>
				#{usedQuantity},
			</if>
			<if test='manufacturingDate != null'>
				#{manufacturingDate},
			</if>
			<if test='expiryDate != null'>
				#{expiryDate},
			</if>
			<if test='status !=null and !("".equals(status.trim()))'>
				#{status},
			</if>
			<if test='memo !=null and !("".equals(memo.trim()))'>
				#{memo},
			</if>
			<if test='isDeleted !=null and !("".equals(isDeleted.trim()))'>
				#{isDeleted},
			</if>
			#{regId},
			now(),
		</trim>
		)
	</insert>

	<!-- 창고 목록 조회 + 페이징 -->
	<select id="searchWarehouseCount" parameterType="kr.co.itwillbs.de.mes.dto.WarehouseSearchDTO" resultType="int">
		SELECT count(*)
		FROM t_warehouse w
		<where>
			<if test="name != null and !(''.equals(name.trim()))">
				AND w.name LIKE CONCAT('%', #{name}, '%')
			</if>

			<if test="directionCode != null and !(''.equals(directionCode.trim()))">
				AND w.direction_code = #{directionCode}
			</if>

			<if test="productIdx != null and !(''.equals(productIdx.trim()))">
				AND w.product_idx = #{productIdx}
			</if>

			<choose>
				<when test="startManufacturingDate != null and startManufacturingDate != null">
					and w.manufacturing_date BETWEEN
					STR_TO_DATE(CONCAT(#{startManufacturingDate},'000000'),'%Y-%m-%d%H%i%S')
					AND
					STR_TO_DATE(CONCAT(#{endManufacturingDate},
					'235959'),'%Y-%m-%d%H%i%S')
				</when>
				<when test="startManufacturingDate != null and endManufacturingDate == null">
					and w.manufacturing_date <![CDATA[>=]]>
					STR_TO_DATE(CONCAT(#{startManufacturingDate},'000000'),'%Y-%m-%d%H%i%S')
				</when>
				<when test="startManufacturingDate == null and endManufacturingDate != null">
					and w.manufacturing_date <![CDATA[<=]]>
					STR_TO_DATE(CONCAT(#{endManufacturingDate},
					'235959'),'%Y-%m-%d%H%i%S')
				</when>
			</choose>

			<if test="minQuantity != null">
				AND w.quantity &gt;= #{minQuantity}
			</if>

			<if test="maxQuantity != null">
				AND w.quantity &lt;= #{maxQuantity}
			</if>
		</where>
	</select>

	<!-- 창고 목록 조회 -->
	<select id="searchWarehouse" parameterType="kr.co.itwillbs.de.mes.dto.WarehouseSearchDTO" resultType="kr.co.itwillbs.de.mes.dto.WarehouseDTO">

		SELECT
		w.*,
		p.name AS product_name
		FROM t_warehouse w
		LEFT JOIN t_product
		p ON w.product_idx = CAST(p.idx AS CHAR)
		<where>
			<if test="name != null and !(''.equals(name.trim()))">
				AND w.name LIKE CONCAT('%', #{name}, '%')
			</if>

			<if test="directionCode != null and !(''.equals(directionCode.trim()))">
				AND w.direction_code = #{directionCode}
			</if>

			<if test="productIdx != null and !(''.equals(productIdx.trim()))">
				AND w.product_idx = #{productIdx}
			</if>

			<choose>
				<when test="startManufacturingDate != null and startManufacturingDate != null">
					and w.manufacturing_date BETWEEN
					STR_TO_DATE(CONCAT(#{startManufacturingDate},'000000'),'%Y-%m-%d%H%i%S')
					AND
					STR_TO_DATE(CONCAT(#{endManufacturingDate},
					'235959'),'%Y-%m-%d%H%i%S')
				</when>
				<when test="startManufacturingDate != null and endManufacturingDate == null">
					and w.manufacturing_date <![CDATA[>=]]>
					STR_TO_DATE(CONCAT(#{startManufacturingDate},'000000'),'%Y-%m-%d%H%i%S')
				</when>
				<when test="startManufacturingDate == null and endManufacturingDate != null">
					and w.manufacturing_date <![CDATA[<=]]>
					STR_TO_DATE(CONCAT(#{endManufacturingDate},
					'235959'),'%Y-%m-%d%H%i%S')
				</when>
			</choose>

			<if test="minQuantity != null">
				AND w.quantity &gt;= #{minQuantity}
			</if>

			<if test="maxQuantity != null">
				AND w.quantity &lt;= #{maxQuantity}
			</if>
		</where>

		<!-- 페이징 처리 -->
		ORDER BY w.idx ASC
		LIMIT #{pageDTO.size} OFFSET #{pageDTO.offset}
	</select>

	<!-- 창고 상세 조회 -->
	<select id="getWarehouseByIdx" parameterType="Long" resultType="kr.co.itwillbs.de.mes.dto.WarehouseDTO">
		SELECT *
		FROM t_warehouse
		WHERE idx = #{idx}
	</select>

	<!-- 창고 정보 수정 -->
	<update id="updateWarehouse" parameterType="kr.co.itwillbs.de.mes.dto.WarehouseDTO">
		UPDATE t_warehouse
		<set>
			<if test='productIdx != null and !("".equals(productIdx.trim()))'>product_idx = #{productIdx},</if>
			<if test='lotIdx != null and !("".equals(lotIdx.trim()))'>lot_idx = #{lotIdx},</if>
			<if test='type != null and !("".equals(type.trim()))'>type = #{type},</if>
			<if test='directionCode != null and !("".equals(directionCode.trim()))'>direction_code = #{directionCode},</if>
			<if test='quantity != null'>quantity = #{quantity},</if>
			<if test='usedQuantity != null'>used_quantity = #{usedQuantity},</if>
			<if test='unit != null and !("".equals(unit.trim()))'>unit = #{unit},</if>
			<if test='manufacturingDate != null'>manufacturing_date = #{manufacturingDate},</if>
			<if test='expiryDate != null'>expiry_date = #{expiryDate},</if>
			<if test='name != null and !("".equals(name.trim()))'>name = #{name},</if>
			<if test='memo != null and !("".equals(memo.trim()))'>memo = #{memo},</if>
			<if test='status != null and !("".equals(status.trim()))'>status = #{status},</if>
			<if test='isDeleted != null and !("".equals(isDeleted.trim()))'>is_deleted = #{isDeleted},</if>
			<if test='modId != null and !("".equals(modId.trim()))'>mod_id = #{modId},</if>
			<if test='modId !=null and !("".equals(modId.trim()))'>mod_date = now(),</if>
		</set>
		WHERE idx = #{idx}
	</update>

	<!-- 창고 정보 들고가기 -->
	<select id="selectWarehouseList" resultType="kr.co.itwillbs.de.mes.dto.WarehouseDTO">
		SELECT *
		FROM t_warehouse
		WHERE is_deleted = 'N'
	</select>

</mapper>
