<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.de.mes.mapper.WorkerMetricsMapper">

	<!-- 보유 자격증 정보 등록 -->
	<insert id="insertWorkerMetrics" useGeneratedKeys="true" keyProperty="idx" parameterType="kr.co.itwillbs.de.mes.dto.WorkerMetricsDTO">
		INSERT INTO t_worker_metrics (
		<trim suffixOverrides=",">
			<if test='employeeId != null and !("".equals(employeeId.trim()))'>
				employee_id,
			</if>
			<if test='isSupervisor != null and !("".equals(isSupervisor.trim()))'>
				is_supervisor,
			</if>
			<if test='isLinesManager != null and !("".equals(isLinesManager.trim()))'>
				is_lines_manager,
			</if>
			<if test='isForkliftOperator != null and !("".equals(isForkliftOperator.trim()))'>
				is_forklift_operator,
			</if>
			<if test='isDriver != null and !("".equals(isDriver.trim()))'>
				is_driver,
			</if>
			<if test='memo != null and !("".equals(memo.trim()))'>
				memo,
			</if>
			<if test='isDeleted != null and !("".equals(isDeleted.trim()))'>
				is_deleted,
			</if>
			reg_id,
			reg_date
		</trim>
		) VALUES (
		<trim suffixOverrides=",">
			<if test='employeeId != null and !("".equals(employeeId.trim()))'>
				#{employeeId},
			</if>
			<if test='isSupervisor != null and !("".equals(isSupervisor.trim()))'>
				#{isSupervisor},
			</if>
			<if test='isLinesManager != null and !("".equals(isLinesManager.trim()))'>
				#{isLinesManager},
			</if>
			<if test='isForkliftOperator != null and !("".equals(isForkliftOperator.trim()))'>
				#{isForkliftOperator},
			</if>
			<if test='isDriver != null and !("".equals(isDriver.trim()))'>
				#{isDriver},
			</if>
			<if test='memo != null and !("".equals(memo.trim()))'>
				#{memo},
			</if>
			<if test='isDeleted != null and !("".equals(isDeleted.trim()))'>
				#{isDeleted},
			</if>
			#{regId},
			now()
		</trim>
		)
	</insert>

	<!-- 보유 자격증 정보 목록 조회 + 페이징 -->
	<select id="searchWorkerMetricsCount" parameterType="kr.co.itwillbs.de.mes.dto.LocationInfoSearchDTO" resultType="int">
		SELECT COUNT(*)
		FROM t_worker_metrics wm
		<where>
			<if test="employeeId != null and !(''.equals(employeeId.trim()))">
				AND wm.employee_id = #{employeeId}
			</if>
			<if test="memo != null and !(''.equals(memo.trim()))">
				AND wm.memo LIKE CONCAT('%', #{memo}, '%')
			</if>
			<if test="isDeleted != null and !(''.equals(isDeleted.trim()))">
				AND wm.is_deleted = #{isDeleted}
			</if>
		</where>
	</select>

	<!-- 보유 자격증 정보 목록 조회 -->
	<select id="searchWorkerMetrics" parameterType="kr.co.itwillbs.de.mes.dto.LocationInfoSearchDTO" resultType="kr.co.itwillbs.de.mes.dto.WorkerMetricsDTO">
		SELECT wm.*
		FROM t_worker_metrics wm
		<where>
			<if test="employeeId != null and !(''.equals(employeeId.trim()))">
				AND wm.employee_id = #{employeeId}
			</if>
			<if test="memo != null and !(''.equals(memo.trim()))">
				AND wm.memo LIKE CONCAT('%', #{memo}, '%')
			</if>
			<if test="isDeleted != null and !(''.equals(isDeleted.trim()))">
				AND wm.is_deleted = #{isDeleted}
			</if>
		</where>

		ORDER BY wm.idx ASC
		LIMIT #{pageDTO.size} OFFSET #{pageDTO.offset}
	</select>

	<!-- 보유 자격증 정보 상세 조회 -->
	<select id="getWorkerMetricsByIdx" parameterType="Long" resultType="kr.co.itwillbs.de.mes.dto.WorkerMetricsDTO">
		SELECT *
		FROM t_worker_metrics
		WHERE idx = #{idx}
	</select>

	<!-- 보유 자격증 정보 정보 수정 -->
	<update id="updateWorkerMetrics" parameterType="kr.co.itwillbs.de.mes.dto.WorkerMetricsDTO">
		UPDATE t_worker_metrics
		<set>
			<if test='employeeId != null and !("".equals(employeeId.trim()))'>employee_id = #{employeeId},</if>
			<if test='isSupervisor != null and !("".equals(isSupervisor.trim()))'>is_supervisor = #{isSupervisor},</if>
			<if test='isLinesManager != null and !("".equals(isLinesManager.trim()))'>is_lines_manager = #{isLinesManager},</if>
			<if test='isForkliftOperator != null and !("".equals(isForkliftOperator.trim()))'>is_forklift_operator = #{isForkliftOperator},</if>
			<if test='isDriver != null and !("".equals(isDriver.trim()))'>is_driver = #{isDriver},</if>
			<if test='memo != null and !("".equals(memo.trim()))'>memo = #{memo},</if>
			<if test='isDeleted != null and !("".equals(isDeleted.trim()))'>is_deleted = #{isDeleted},</if>
			<if test='modId != null and !("".equals(modId.trim()))'>mod_id = #{modId},</if>
			<if test='modId !=null and !("".equals(modId.trim()))'>mod_date = now(),</if>
		</set>
		WHERE idx = #{idx}
	</update>

</mapper>
