<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/de_layout}">
<head>
<title>팩토리(PackTory) - 사원 목록</title>

<style>
.left-form {
	border-right: 1px solid #e3e6f0;
}

@media ( max-width : 768px) {
	.left-form {
		border-right: none !important;
	}
}
</style>
</head>

<body id="page-top">
	<th:block layout:fragment="contents">
		<!-- Begin Page Content -->
		<div class="container-fluid">
			<!-- Page Heading -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-4 text-gray-800">사원 목록</h1>
			</div>

			<!-- 검색바 컨테이너 -->
			<div class="card shadow mb-4">
				<div class="card-body">
					<!-- 검색 폼 -->
					<div class="search-wrap border">
						<section class="d-flex search-inner">
							<div class="col pl-4 search-box">
								<form method="get" th:action="@{/human/employee}" id="searchForm">
									<input type="hidden" name="pageDTO.page" th:value="${searchDTO.pageDTO.page}"> <input type="hidden" name="pageDTO.size" th:value="${searchDTO.pageDTO.size}">
									<div class="container-fluid px-5 mt-3">
										<div class="row">
											<!-- 왼쪽 컬럼 -->
											<div class="col-md-6 left-form">
												<!-- 이름 -->
												<div class="form-group row mb-3">
													<label for="name" class="col-sm-3 col-form-label">이름</label>
													<div class="col-sm-9">
														<input type="text" name="name" class="form-control" placeholder="이름 검색" th:value="${param.name}">
													</div>
												</div>
												<!-- 입사일자 -->
												<div class="form-group row mb-3">
													<label for="dueStartDate" class="col-sm-3 col-form-label">입사일자</label>
													<div class="col-sm-9">
														<div class="d-flex align-items-center">
															<div class="input-group">
																<input type="text" name="hireDateFrom" id="hireDateFrom" th:value="${param.hireDateFrom}" class="form-control" autocomplete="off"> <span class="input-group-text calendar-icon" data-target="#hireDateFrom"><i class="fa fa-calendar"></i></span>
															</div>
															<span class="mx-2">⁓</span>
															<div class="input-group">
																<input type="text" name="hireDateTo" id="hireDateTo" th:value="${param.hireDateTo}" class="form-control" autocomplete="off"> <span class="input-group-text calendar-icon" data-target="#hireDateFrom"><i class="fa fa-calendar"></i></span>
															</div>
														</div>
													</div>
												</div>

												<!-- 퇴사일자 -->
												<div class="form-group row mb-3">
													<label for="dueStartDate" class="col-sm-3 col-form-label">퇴사일자</label>
													<div class="col-sm-9">
														<div class="d-flex align-items-center">
															<div class="input-group">
																<input type="text" name="resignationDateFrom" id="resignationDateFrom" th:value="${param.resignationDateFrom}" class="form-control" autocomplete="off"> <span class="input-group-text calendar-icon" data-target="#resignationDateFrom"><i class="fa fa-calendar"></i></span>
															</div>
															<span class="mx-2">⁓</span>
															<div class="input-group">
																<input type="text" name="resignationDateTo" id="resignationDateTo" th:value="${param.resignationDateTo}" class="form-control" autocomplete="off"> <span class="input-group-text calendar-icon" data-target="#resignationDateFrom"><i class="fa fa-calendar"></i></span>
															</div>
														</div>
													</div>
												</div>
											</div>

											<!-- 오른쪽 컬럼 -->
											<div class="col-md-6">
												<!-- 대표 부서 -->
												<div class="form-group row mb-3">
													<label for="departmentCode" class="col-sm-3 col-form-label">대표 부서</label>
													<div class="col-sm-9">
														<select name="departmentCode" id="departmentCode" class="form-select">
															<option value="">대표부서 선택</option>
															<option th:each="department : ${validDepartments}" th:value="${department.minorCode}" th:text="${department.minorName}" th:selected="${searchDTO != null and searchDTO.departmentCode == department.minorCode}"></option>
														</select>
													</div>
												</div>

												<!-- 하위 부서 -->
												<div class="form-group row mb-3">
													<label for="subDepartmentCode" class="col-sm-3 col-form-label">하위 부서</label>
													<div class="col-sm-9">
														<select id="subDepartmentCode" name="subDepartmentCode" class="form-select">
															<option value="">하위부서 선택</option>
															<!-- JS로 동적으로 처리 예정 -->
														</select>
													</div>
												</div>

												<!-- 직급 -->
												<div class="form-group row mb-3">
													<label for="positionCode" class="col-sm-3 col-form-label">직급</label>
													<div class="col-sm-9">
														<select name="positionCode" class="form-select">
															<option value="">직급 선택</option>
															<option th:each="position : ${validPositions}" th:value="${position.idx}" th:text="${position.positionCode}" th:selected="${searchDTO != null and searchDTO.positionCode == position.idx}"></option>
														</select>
													</div>
												</div>
											</div>
										</div>

										<!-- 검색바 버튼 -->
										<div class="row justify-content-end">
											<div class="col-12 col-sm-auto mb-2">
												<button class="btn btn-success btn-block" id="btnRegister" type="button">사원 등록</button>
											</div>
											<div class="col-12 col-sm-auto mb-2">
												<button type="button" class="btn btn-warning btn-block" onclick="formReset('searchForm');">초기화</button>
											</div>
											<div class="col-12 col-sm-auto mb-2">
												<button class="btn btn-primary btn-block" id="btnSearch" type="submit">검색</button>
											</div>
										</div>
										<!-- 검색바 버튼 끝 -->

									</div>
								</form>
							</div>
						</section>
					</div>
					<!-- 검색폼 끝 -->

				</div>
			</div>
			<!-- 검색바 컨테이너 끝 -->

			<!-- 본문 컨테이너 -->
			<!-- 목록 카드 -->
			<div class="card shadow mb-4">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered table-hover text-center" id="dataTables" width="100%" cellspacing="0">
							<thead class="table-light">
								<tr>
									<th>사원번호</th>
									<th>이름</th>
									<th>대표부서</th>
									<th>하위부서</th>
									<th>직급</th>
									<th>입사일</th>
									<th>경력</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="employee : ${employeeList}" th:data-id="${employee.id}" th:data-idx="${employee.idx}">
									<td th:text="${employee.id}"></td>
									<td th:text="${employee.name}"></td>
									<td th:text="${employee.departmentName}"></td>
									<td th:text="${employee.subDepartmentName}"></td>
									<td th:text="${employee.positionName}"></td>
									<td th:text="${#temporals.format(employee.hireDate, 'yyyy-MM-dd')}"></td>
									<td th:text="${employee.workExperience}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div th:replace="~{common/fragments/de_pagination :: pagination(${searchDTO})}"></div>
		</div>
		<!-- 본문 컨테이너 끝 -->

		<script type="text/javascript">
		$(document).ready(function() {
		let isEditing = false;
		
		// DataTable 초기화
		$('#dataTables').DataTable({
			lengthChange: false,
			searching: false,
			paging: false,
			info: false
		});

		// 등록 페이지 이동
		$("#btnRegister").on("click", function() {
			console.log("btnRegister click!!!");
			location.href = "/human/employee/new"; // 직원 등록 페이지로 이동
		});

		// 상세 페이지 이동
		$("#dataTables tbody").on('click', 'tr', function() {
			console.log("dataTables tbody click!!");
			var documentNumber = $(this).data('id');
			
			if (!documentNumber) {
				return; // 페이지 이동 막기
			}
			
			location.href = `/human/employee/${documentNumber}`;
		});

		// 하위 부서 불러오기
		$('#departmentCode').on("change", function() {
			const selectedCode = $(this).val();
			loadSubDepartments(selectedCode); // 하위 부서 로딩
		});

		// 검색 후 하위 부서 유지
		const selectedDepartmentCode = $('#departmentCode').val();
		const selectedSubDepartmentCode = new URLSearchParams(window.location.search).get('subDepartmentCode');
		if (selectedDepartmentCode) {
			loadSubDepartments(selectedDepartmentCode, selectedSubDepartmentCode);
		}

		// 하위 부서 로딩 함수
		function loadSubDepartments(departmentCode, selectedCode = '') {
			if (!departmentCode) {
				$('#subDepartmentCode').html('<option value="">하위 부서를 선택하세요</option>');
				return;
			}

			$.ajax({
				url: '/human/employee/subDepartments',
				type: 'GET',
				data: { departmentCode: departmentCode },
				success: function(data) {
					let html = '<option value="">하위 부서 선택</option>';
					data.forEach(function(item) {
						html += `<option value="${item.childCode}" ${item.childCode === selectedCode ? 'selected' : ''}>${item.childName}</option>`;
					});
					$('#subDepartmentCode').html(html);
				},
				error: function() {
					alert("하위 부서 정보를 불러오는 데 실패했습니다.");
				}
			});
		}
		
		initDateRangePickerMaxToday('hireDateFrom', 'hireDateTo');
		initDateRangePickerMaxToday('resignationDateFrom', 'resignationDateTo');
		
		});
		
	</script>
	</th:block>
</body>
</html>
