<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/de_layout}">
<head>
<meta charset="UTF-8">
<title>메뉴 등록</title>
</head>
<body>
<body id="page-top">
	<th:block layout:fragment="contents">
		<!-- Begin Page Content -->
		<div class="container-fluid">
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-4 text-gray-800">로그 등록</h1>
			</div>
			<!-- Content Row -->
			<div class="row">
				<div class="card shadow col-xl-12 col-lg-12 mb-1">
					<form th:action="@{/admin/menu}" method="post" th:object="${menuDTO}">
					<input type="hidden" id="menuId" name="menuId" value="0">
						<table class="table table-borderd">
							<tr>
								<td><label for="menuType">메뉴 타입</label></td>
								<td><input type="text" id="menuType" th:field="*{menuType}"></td>
							</tr>
							<tr>
								<td><label for="url">URL</label></td>
								<td><input type="text" id="url" th:field="*{url}"></td>
							</tr>
							<tr>
								<td><label for="description">설명</label></td>
								<td><textarea id="description" th:field="*{description}" rows="2"></textarea></td>
							</tr>
							<tr>
								<td><label for="rankNumber">순서</label></td>
								<td><input type="text" id="rankNumber" th:field="*{rankNumber}"></td>
							</tr>
							<tr>
								<td><label for="isDeleted">삭제여부</label></td>
								<td><input type="text" id="isDeleted" th:field="*{isDeleted}"></td>
							</tr>
							<tr>
								<td><button type="button" id="btnList" class="btn btn-success">메뉴 목록</button></td>
								<td><button type="submit" class="btn btn-primary">메뉴 등록</button></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			<script type="text/javascript">
				$(function() {
					$('#btnList').on("click", function() {
						location.href="/admin/menu";
					});
				});
			</script>
		</div>
	</th:block>
</body>
</html>