<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/de_layout}">
<head>
<title>팩토리(PackTory) - 기안서 작성</title>
<!-- CSS -->
<th:block layout:fragment="css">
	<!-- 개별 CSS-->
	<link href="/css/approval/approval_reg_form.css" rel="stylesheet">
</th:block>
<style type="text/css">
	.approver-group { display: flex; align-items: center; gap: 5px; margin-bottom: 5px; }
</style>
</head>


<body id="page-top">
	<th:block layout:fragment="contents">
		<!-- Begin Page Content -->
		<div class="container-fluid">
		
			<!-- Page Heading -->
			<h3 class="reg-title">기안서 작성</h3>
			<!-- 본문 컨테이너 -->
			<div class="main-container">
				<form th:action="@{/groupware/approval/regist}" id="approvalForm" role="form" method="post" enctype="multipart/form-data"  th:object="${approvalDTO}" >
			        <div class="form-div">
			            <label th:for="drafterId">사원번호</label>
			            <input type="text" id="draftId" th:field="*{drafterId}" class="form-control" readonly>
			        </div>
			        <div class="form-div">
			            <label th:for="drafterName">작성자</label>
			            <input type="text" id="draftName" th:field="*{name}" class="form-control" readonly>
			        </div>
			        <div class="form-div">
			            <label th:for="drafterDepartment">부서</label>
			            <input type="text" id="drafterDepartment" th:field="*{departmentName}" class="form-control" readonly>
			        </div>
			        <div class="form-div">
			            <label th:for="drapfterPositon">직급</label>
			            <input type="text" id="drapfterPositon" th:field="*{positionName}" class="form-control" readonly>
			        </div>
			        
			        <div class="form-div">
			            <label th:for="approvalType">결재유형</label>
			            <select id="approvalType" class="form-select" th:field="*{approvalType}">
			            	<option value="">선택</option>
			            	<option th:each="item : ${approvalTypeList}" th:value="${item.minorCode}" th:text="${item.minorName}"></option>
			            </select>
			        </div>
			        
			        <div class="form-div">
			            <label th:for="docNo">기안서 양식</label>
			            <input type="text" id="docNo" th:field="*{docNo}" class="form-control" placeholder="양식을 선택해주세요." readonly>
			        	<button class="btn btn-primary" id="searchDocumentBtn" type="button">검색 <i class="fa-solid fa-magnifying-glass"></i></button>
			        </div>
			        
			        <div class="form-div">
			            <label th:for="approverId">결재라인</label>
						<div class="approver-line">
			        		<button type="button" class="btn btn-primary" id="addApproverLineBtn" >결재라인 추가 <i class="fa-solid fa-plus"></i></button>
						</div>
					</div>
					<!-- datepicker 사용 -->
					<div class="form-div">
					    <label for="dueDate">결재기간</label>
					    <input type="text" id="dueDate" th:field="*{dueDate}" class="form-control" placeholder="결재 기간을 선택하세요.">
						<button class="btn btn-success ml-2" id="initDateBtn" type="button"><i class="fa-solid fa-rotate"></i></button>
					</div>
					
			        <div class="form-div">
			            <label th:for="title">제목</label>
			            <input type="text" id="title" th:field="*{title}" class="form-control">
			        </div>
			        
			        <div class="form-div">
			            <label th:for="content">내용</label>
			            <textarea id="content" th:field="*{content}" class="form-control" rows="10"></textarea>
<!-- 			            Editor 라이브러리 일단 나중에......... -->
			        </div>
			        <div class="col-md-12 custom-div" th:if="${fileList != null and not #lists.isEmpty(fileList)}">
						<h6 class="card-title">첨부파일 목록</h6>
<!-- 								<ul class="list-group custom-ul"> -->
						<ul class="list-group">
						    <li th:each="file : ${fileList}"
						    	th:if="${file.isDeleted == 'N'}"
						    	th:id="'file-' + ${file.idx}"
						    	class="list-group-item d-flex justify-content-between align-items-center">
					            <span th:text="${file.fileOriginalName}"></span>
					            <button type="button" class="btn btn-danger btn-sm fileDeleteButton" th:data-id="${file.idx}">삭제</button>
					        </li>
						</ul>
					</div>
					<div class="form-div">
					    <label for="fileUpload">첨부파일</label>
					    <input type="file" id="fileUpload" class="form-control" name="approvalFiles" multiple>
					</div>
					
			        <div style="text-align: center; margin: 10px 0;">
						<button type="submit" class="btn btn-primary" id="submitBtn">기안하기</button>
						<button type="button" id="cancelBtn" class="btn btn-secondary ml-2" >돌아가기</button>
			        </div>
				</form>
			</div>
		</div>
		<!-- /.container-fluid -->
	</th:block>
<!-- JS -->
<th:block layout:fragment="script">
	<!-- 개별 js -->
    <script src="/js/approval/approval_reg.js"></script>
</th:block>
	
	
</body>
</html>