<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/de_layout}">
<head>
<title>팩토리(PackTory) - 사용자관리</title>
<style type="text/css">
.form {
	max-width: 800px;
	margin: 0 auto;
}
.custom-div {
	margin-top: 20px;
}

/* .custom-ul { */
/* 	max-width: 500px; */
/* 	width: fit-content; */
/* } */

.custom-button-area {
	margin-top: 30px;
}
	
</style>
</head>
<body id="page-top">
	<th:block layout:fragment="contents">
		<!-- Begin Page Content -->
		<div class="container-fluid">
			<!-- Page Heading -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-2 text-gray-800">사용자 상세 정보</h1>
			</div>
			<!-- 리스트 출력 -->
			<div class="card shadow mb-4">
				<div class="card-body">
					<div class="table-responsive"><!-- 반응형으로 해준다는 말이겠지? -->
						<!-- <div class="row"> -->
							<form th:action="@{/admin/member/{idx}(idx=*{idx})}" th:object="${memberDTO}" 
								method="post" id="memberForm" class="form row g-3">
								<input type="hidden" name="_method" value="put">
								<input type="hidden" th:field="*{idx}">
								<div class="col-md-12">
									<label class="mb-1" for="memberId">사용자 ID</label>
									<input type="text" class="form-control" th:field="*{memberId}" readonly>
								</div>
								<div class="col-md-12">
									<label class="mb-1" for="password">비밀번호</label>
									<input type="password" class="form-control" name="password" id="password" placeholder="변경 시 입력">
								</div>
								<div class="col-md-12">
									<label class="mb-1" for="passwordConfirm">비밀번호 확인</label>
									<input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" placeholder="변경 시 입력">
								</div>
								<div class="col-md-12">
									<label class="mb-1" for="role">역할</label>
									<select class="form-select" name="role" id="role" th:value="*{role}" >
										<option th:each="code : ${roleItemList}" th:value="${code.minorCode}" th:text="${code.minorName}" th:selected="*{role} == ${code.minorCode}"></option>
									</select>
								</div>
								<div class="col-md-12">
									<label class="mb-1" for="status">상태</label>
									<select class="form-select" name="status" id="status" th:value="*{status}" >
											<option th:each="code : ${statusItemList}" th:value="${code.minorCode}" th:text="${code.minorName}" th:selected="*{status} == ${code.minorCode}"></option>
									</select>
								</div>
								<div class="col-md-12">
									<label class="mb-1" for="isDeleted">삭제유무</label>
									<select id="isDeleted" class="form-select" th:field="*{isDeleted}">
										<option value="" th:selected="*{isDeleted} eq '' ">전체</option>
										<option value="Y" th:selected="*{isDeleted} eq 'Y' ">삭제</option>
										<option value="N" th:selected="*{isDeleted} eq 'N' ">사용중</option>
									</select>
								</div>
							</form>
<!-- 						</div>
						<div class="row"> -->
							<div class="col-md-12 row align-items-center justify-content-center custom-button-area">
								<button type="button" id="dtoSubmit" class="btn btn-primary btn-lg d-block col-3 ml-2">저장</button>
								<button type="button" id="listBtn" class="btn btn-danger btn-lg d-block col-3 ml-2">취소</button>
							</div>
						<!-- </div> -->
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(function() {
				// 리스트 가기 버튼 클릭 이벤트
				$('#listBtn').on("click", function() {
					location.href="/admin/member";
				});
				
				// 메뉴 저장 서브밋 처리
				$('#dtoSubmit').on("click", function() {
					console.group('dtoSubmit click!');
					
					if($('#password').val().replace(/ /g,"") != "" 
							&& $('#passwordConfirm').val().replace(/ /g,"") != "") {
						if($('#password').val().replace(/ /g,"") != $('#passwordConfirm').val().replace(/ /g,"")) {
							alert("비밀번호 변경 시 입력한 비밀번호가 일치해야 합니다.");
							return false;
						}
					} else if($('#password').val().replace(/ /g,"") != "" 
						&& $('#passwordConfirm').val().replace(/ /g,"") == "") {
						alert("비밀번호 변경 시 비밀번호 확인을 입력해야 합니다.");
						return false;
					} else if($('#password').val().replace(/ /g,"") == "" 
						&& $('#passwordConfirm').val().replace(/ /g,"") != "") {
						alert("비밀번호 변경 시 비밀번호를 입력해야 합니다.");
						return false;
					}
					
					$('#memberForm').submit();
					console.groupEnd();
				}); // end of $('#codeItemsSubmit').on("click", function() {
				
				$('#dtoAjax').on("click", function() {
					console.group('click! codeItemsAjax!');
					let _rowCnt = $('.code_items').length;
					let _totalCnt = $('.code_items').find('input').length;
					let _hasValueCnt = 0;
					const _rankSet = new Set();
					$('.code_items').find('input').each(function(idx, item) {
						if(item.name == "rankNumber") _rankSet.add(item.value);
						if(item.value != "" || item.value.length > 0) _hasValueCnt += 1;
					});
					
					if(_totalCnt != _hasValueCnt) {
						alert("하위코드는 빈 값을 허용하지 않습니다.\n값을 입력하거나, 비어있는 메뉴 행을 삭제 후 저장해주세요.");
						return false;
					}
 					console.log("_rowCnt : %s", _rowCnt);
					console.log(typeof _rowCnt);
					console.log(_rankSet);
					console.log("_rankSet.size : %s", _rankSet.size);
					console.log(typeof _rankSet.size);
					if(_rowCnt != _rankSet.size) {
						alert("순서는 중복될 수 없습니다.\n각각 다른 값을 입력해주세요.");
						return false;
					}
					
					const _codeItems = document.querySelectorAll(".code_items");
					const _itemsList = [];
			
					_codeItems.forEach(item => {
						const codeItem = {
							majorCode: document.querySelector('#majorCode').value,
							minorCode: item.querySelector('[name="minorCode"]').value,
							minorName: item.querySelector('[name="minorName"]').value,
							description: item.querySelector('[name="description"]').value,
							rankNumber: item.querySelector('[name="rankNumber"]').value,
							isDeleted: item.querySelector('[name="isDeleted"]').value
						};
						_itemsList.push(codeItem);
					});
					console.log(_itemsList);
					if(!confirm("하위 코드를 저장 하시겠습니까?")) {
						return false;
					}
					// JSON 데이터를 서버로 전송
					fetch("/admin/member/modifyMemberToJson", {
						method: "PUT",
						headers: {
							"Content-Type": "application/json"
						},
						body: JSON.stringify(_itemsList)
					})
					.then(response => response.json())
					.then(data => {
						console.log("서버 응답:", data);
						if(data.status === "success") {
							alert(data.message);
							location.reload(); // 현재 페이지 새로 고침
						} else {
							
						}
						
					})
					.catch(error => {
						console.error("서버 응답 오류:", error);
						if(data.status === "fail") {
							alert(data.message);
						}
					});
					console.groupEnd();
				}); //end of $('#codeItemsAjax').on("click", function() {
				
				
				// majorCode 수정 모드
				$('#majorCodeToggle').on("click", function() {
					console.group('click! #majorCodeToggle!');
					let _isDisabled = document.querySelector('#majorCode').disabled;
					console.log("_isDisabled : " + _isDisabled);
					if(_isDisabled) {
						$('#majorCodeToggle_text').text("(닫기)");
					} else {
						$('#majorCodeToggle_text').text("(열기)");
					}
					let inputItems = $('#majorCode').parents('tr').children('td').find('input');
					//console.log(inputItems);
					// 현재 disabled 값을 가져온다! 가져온것!
					let _targetIsDisabled = !_isDisabled;
					console.log("_targetIsDisabled : " + _targetIsDisabled);
					for(let i=0; i<inputItems.length; i++) {
						inputItems[i].disabled = _targetIsDisabled;
					}
					
					console.groupEnd();
				}); // end of $('#majorCodeToggle').on("click", function() {
				
			}); // end of $(function() {
		</script>
	</th:block>
</body>
</html>