<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>레이아웃 타이틀! 의도한거야?</title>
	<th:block th:include="~{common/fragments/bs_common::headContents}"></th:block>
	<!-- 레이아웃 용 css -->
	<th:block layout:fragment="css"></th:block><!-- 내부 스타일 (Internal Style Sheet)-->
	<th:block layout:fragment="script"></th:block><!-- 내부 스크립트 (Internal JS)-->
	<th:block layout:fragment="link"></th:block><!-- 내부 링크 (Internal JS)-->
</head>
<body>
	<div id="wrapper">
		<!-- 사이드바 -->
		<div th:include="~{common/fragments/bs_sidebar::sidebar}"></div>
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- 헤더 -->
				<div th:include="~{common/fragments/bs_top::header}"></div>
				
				<!-- ======================================== -->
								
				<div layout:fragment="contents"></div>
				
				<!-- ======================================== -->	
				
				<!-- 푸터 -->
				<div th:include="~{common/fragments/bs_footer::footer}"></div>
				
				<!-- Scroll to Top Button-->
			    <a class="scroll-to-top rounded" href="#page-top">
			        <i class="fas fa-angle-up"></i>
			    </a>
			    <div th:include="~{common/fragments/bs_modal::modalContents}"></div>
			</div>
		</div>
	</div>
</body>
</html>