<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>나는 레이아웃 타이틀</title>
<th:block th:include="~{common/fragments/item_css::css}"></th:block><!-- 공통 스타일(External Style Sheet) -->
<th:block th:include="~{common/fragments/item_js::js}"></th:block><!-- 공통 js(External JS) -->
<th:block layout:fragment="css"></th:block><!-- 내부 스타일 (Internal Style Sheet)-->
<th:block layout:fragment="script"></th:block><!-- 내부 스크립트 (Internal JS)-->
<th:block layout:fragment="link"></th:block><!-- 내부 링크 (Internal JS)-->
</head>
<body>
	<!--/* 규칙! */-->
	<header th:replace="~{common/fragments/sample_header::header}"></header>
	<!--/* 
		th:include || th:replace = "~{경로/파일::파일내(th:fragment="이름")}"
		1. 레이아웃에서 경로/파일에 명시한 파일을 가져와서 쓰려고 한다.
		2. 그 파일 내에 th:fragment="이름"이 같은 필드를 가져와서 붙여 넣는다.
	*/-->
	<main layout:fragment="content"></main>
	<!--/* 
		layout:fragment="이름"은 (1)파일 위치와, (2)가져올 이름 둘다 현재 레이아웃은 알수가 없다!
		1. 따라서, 그 파일에 아래와 같이 무슨 레이아웃에 붙는 아이인지 반드시 내용이 있어야 함
		...중략
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/item_layout}"
		...
		2. 파일 내에 가져올 태그(들)에 이름을 준 아이들을 (1.에서 말한)레이아웃으로 보낸다는 의미가 되는것 같다. 
		<div layout:fragment="이름"> -> 이 레이아웃 파일의 layout:fragment="이름"에 맞춰 들어간다?
	*/-->
	<footer th:replace="~{common/fragments/item_footer::footer}"></footer>
</body>
</html>