<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/de_layout}">
<head>
<title>팩토리(PackTory) - 출퇴근관리</title>
<!-- 부트스트랩 icons 가져오기 -->
<th:block layout:fragment="headContents">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</th:block>
<!-- CSS -->
<th:block layout:fragment="css">
	<!-- dataTables 가져오기 -->
	<link href="/css/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	<link href="/css/datatables/datatables.min.css" rel="stylesheet">
	<link href="/css/datepicker/daterangepicker.css" rel="stylesheet">
	<!-- 폰트어썸 가져오기 -->
	<link href="/css/fontawesome/all.min.css" rel="stylesheet">
	<script src="/css/fontawesome/all.min.js"></script>
	<!-- CSS for Page -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Nunito:wght@200..1000&display=swap" rel="stylesheet">
	<link href="/css/sb-admin-2.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
	<!-- 개별 CSS-->
	<link href="/css/common.css" rel="stylesheet">
</th:block>
<style type="text/css">
/* 검색바 중앙에 세로줄 */
.left-form {
	border-right: 1px solid #e3e6f0;
}

@media (max-width: 768px) {
  .left-form {
    border-right: none !important;
  }
}
</style>
	
</head>
<body id="page-top">
	<div layout:fragment="contents">
		<!-- Begin Page Content -->
		<div class="container-fluid">
			<!-- Page Heading -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-2 text-gray-800">출퇴근 관리</h1>
			</div>
			
			<!-- ---------- 검색바 컨테이너 ---------- -->
			<div class="card shadow mb-4">
				<div class="card-body">
					<!-- ---------- 검색바 ---------- -->
					<div class="search-wrap border">
						<section class="d-flex search-inner">
						
							<div class="col pl-4 search-box">
								<form th:action="@{/commute/search}" method="get" th:object="${commuteSearchDTO}">
								    <div class="container-fluid px-5">
								        <div class="row">
								            <!-- 왼쪽 폼 그룹 -->
								            <div class="col-md-6 left-form">
								                <div class="form-group row">
								                    <label for="employeeId" class="col-sm-3 col-form-label">사원번호</label>
								                    <div class="col-sm-9">
								                        <input type="text" id="employeeId" th:field="*{employeeId}" class="form-control">
								                    </div>
								                </div>
								
								                <div class="form-group row">
								                    <label for="workStartDate" class="col-sm-3 col-form-label">날짜</label>
								                    <div class="col-sm-9">
								                        <div class="d-flex align-items-center">
								                            <div class="input-group">
								                                <input type="text" id="workStartDate" th:field="*{workStartDate}" class="form-control" autocomplete="off">
								                                <div class="input-group-append">
								                                    <span class="input-group-text calendar-icon">
								                                        <i class="fa fa-calendar"></i>
								                                    </span>
								                                </div>
								                            </div>
								
								                            <span class="mx-2">⁓</span>
								
								                            <div class="input-group">
								                                <input type="text" id="workEndDate" th:field="*{workEndDate}" class="form-control" autocomplete="off">
								                                <div class="input-group-append">
								                                    <span class="input-group-text calendar-icon">
								                                        <i class="fa fa-calendar"></i>
								                                    </span>
								                                </div>
								                            </div>
								                        </div>
								                    </div>
								                </div>
								            </div>
											
								            <!-- 오른쪽 폼 그룹 -->
								            <div class="col-md-6">
								                <div class="form-group row">
								                    <label for="department" class="col-sm-3 col-form-label">부서</label>
								                    <div class="col-sm-9">
								                        <input type="text" id="department" th:field="*{department}" class="form-control">
								                    </div>
								                </div>
								
								                <div class="form-group row">
								                    <label for="name" class="col-sm-3 col-form-label">이름</label>
								                    <div class="col-sm-9">
								                        <input type="text" id="name" th:field="*{name}" class="form-control">
								                    </div>
								                </div>
								            </div>
								        </div>
								
								        <!-- 검색바 버튼 -->
								        <div>
										    <div class="row justify-content-end">
										        <div class="col-12 col-sm-auto mb-2">
										            <button class="btn btn-success btn-block" id="btnCommute" type="button">출퇴근 버튼페이지로 이동(임시)</button>
										        </div>
										        <div class="col-12 col-sm-auto mb-2">
										            <button class="btn btn-primary btn-block" id="btnSearch" type="submit">검색</button>
										        </div>
										    </div>
										</div>
								        <!-- 검색바 버튼 끝 -->
								    </div>
								</form>
							</div>
						</section>
					</div>
					<!-- ---------- 검색바 끝 ---------- -->
				</div> 
			</div>
			<!-- ---------- 검색바 컨테이너 끝 ---------- -->
			
			<!-- ---------- 본문 컨테이너 ---------- -->
			<div class="card shadow mb-4">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered table-hover text-center" id="dataTables" width="100%" cellspacing="0">
							<thead class="table-light">
								<tr>
									<th>날짜</th>
									<th>사원번호</th>
									<th>부서</th>
									<th>직책</th>
									<th>이름</th>
									<th>출근시간</th>
									<th>퇴근시간</th>
									<th>근무상태</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="commute, status : ${commuteList}" th:data-id="${commute.workDate}" class="clickable-row">
									<td th:text="${commute.workDate}"></td>
									<td th:text="${commute.employeeId}"></td>
									<td th:text="${commute.department}"></td>
									<td th:text="${commute.position}"></td>
									<td th:text="${commute.name}"></td>
									<td th:text="${commute.checkIn != null ? #temporals.format(commute.checkIn, 'HH:mm:ss') : '-'}"></td>
									<td th:text="${commute.checkOut != null ? #temporals.format(commute.checkOut, 'HH:mm:ss') : '-'}"></td>
									<td>	<!-- 근무상태코드 일치하는 코드의 코드명 출력 -->
									  <span th:each="ci : ${codeItemList}"
									        th:if="${ci.minorCode == commute.workStatus}"
									        th:text="${ci.minorName}">
									  </span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- ---------- 본문 컨테이너 끝 ---------- -->
		</div>
		
		<script type="text/javascript">
			$(document).ready(function() {
				// 임시) 출퇴근 버튼 클릭하는 페이지 이동
				$('#btnCommute').on('click', function () {
				    window.location.href = '/commute/button';
				});
				
				// init DataTable
			    $('#dataTables').DataTable({
			        lengthChange: false,    // 건수 선택
			        searching: false,       // 검색
			        info: false,            // 정보 표시
			        ordering: true,        // 정렬
			        paging: false,          // 페이징
			        responsive: true,      // 반응형
			        autoWidth: false,      // 자동 너비 조정 해제
			        dom: '<"top"<"left-length"l><"right-buttons"fB>>rt<"bottom"ip>',
			        buttons: [
			            { extend: 'copy', text: '복사' },
			            { extend: 'excel', text: '엑셀', exportOptions: { columns: ':visible' } },
			            { extend: 'print', text: '프린트' }
			        ]
			    });
				
			 // ---------------------------------------------------
				// 기간별 검색 필터링 제이쿼리 (datepicker)
			    function initializeDateRangePicker(startInputId, endInputId) {
			        var $startInput = $('#' + startInputId);
			        var $endInput = $('#' + endInputId);
			        var $iconStart = $('[data-target="#' + startInputId + '"]');
			        var $iconEnd = $('[data-target="#' + endInputId + '"]');

			        $startInput.daterangepicker({
			            locale: {
			                separator: " ~ ",
			                format: 'YYYY-MM-DD',
			                applyLabel: "확인",
			                cancelLabel: "취소",
			                daysOfWeek: ["일", "월", "화", "수", "목", "금", "토"],
			                monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
			                customRangeLabel: '기간 지정'
			            },
			            autoUpdateInput: false,
			            timePicker: false,
			            showDropdowns: true,
			            autoApply: false,
			            maxDate: moment(), // 오늘까지만 선택 가능하게 제한
			            ranges: {
			                '오늘': [moment()], // 오늘
			                '이번 주': [moment().startOf('week'), moment().endOf('week')],
			                '이번 달': [moment().startOf('month'), moment().endOf('month')],
			                '지난 주': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
			                '지난 달': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
			            }
			        }, function(start, end) {
			            $startInput.val(start.format('YYYY-MM-DD'));
			            $endInput.val(end.format('YYYY-MM-DD'));
			        });

			        // 아이콘과 requestEndDate를 클릭해도 캘린더 열리도록 설정
			        $iconStart.add($iconEnd).add($endInput).on('click', function() {
			            $startInput.trigger('click');
			        });
			    }

			    // 날짜 적용
			    initializeDateRangePicker('workStartDate', 'workEndDate');
			    // ------------------------------------------------------------
			    
			    
			});
		</script>
		
		
		
	</div>
	<th:block layout:fragment="script">
		<!-- Bootstrap core JavaScript-->
		<script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="/js/jquery-3.7.1.js"></script>
	    <!-- Core plugin JavaScript-->
	    <script src="/js/jquery-easing/jquery.easing.min.js"></script>
	    <!-- Custom scripts for all pages-->
	    <script src="/js/sb-admin-2.min.js"></script>
	   	<!-- Page level plugins -->
		<script src="/js/datatables/jquery.dataTables.min.js"></script>
		<script src="/js/datatables/dataTables.bootstrap4.min.js"></script>
		<script src="/js/demo/datatables-demo.js"></script>
	   	<script src="/js/datepicker/moment.min.js"></script>
	   	<script src="/js/datepicker/daterangepicker.js"></script>
	   	<script src="/js/datatables/dataTables.buttons.min.js"></script>
		<script src="/js/datatables/buttons.html5.min.js"></script>
		<script src="/js/datatables/jszip.min.js"></script>
		<script src="/js/datatables/buttons.print.min.js"></script>
	</th:block>

</body>

</html>