<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/de_layout}">
<head>
<title>로그 정보</title>
<th:block layout:fragment="css">
	<link href="/css/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</th:block>
<style type="text/css">
.form {
	max-width: 800px;
	margin: 0 auto;
}
.custom-div {
	margin-top: 20px;
}

/* .custom-ul { */
/* 	max-width: 500px; */
/* 	width: fit-content; */
/* } */

.custom-button-area {
	margin-top: 30px;
}
</style>
</head>
<body id="page-top">
	<th:block layout:fragment="contents">
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-4 text-gray-800">로그 상세</h1>
		</div>

		<div class="card shadow mb-4">
			<div class="card-body">
				<div class="table-responsive">
					<!-- Begin Page Content -->
					<form th:action="@{/admin/log}" method="get" th:object="${logDTO}">
						<div class="col-md-12">
							<label class="mb-1" for="accessId">사용자ID</label>
							<input class="form-control" th:field="*{accessId}" readonly>
						</div>
						<div class="col-md-6">
							<label class="mb-1" for="accessType">접속타입</label>
							<select class="form-select" th:field="*{accessType}">
								<option th:each="item : ${accessTypeItemList}" th:value="${item.minorCode}" th:text="${item.minorName}"></option>
							</select>
						</div>
						<div class="col-md-6">
							<label for="accessDevice" class="form-label mb-1">접속장치</label>
							<select class="form-select" th:field="*{accessDevice}">
								<option th:each="item : ${accessDeviceItemList}" th:value="${item.minorCode}" th:text="${item.minorName}"></option>
							</select>
						</div>
						<div class="col-md-6">
							<label for="ip" class="form-label mb-1">IP</label>
							<input class="form-control" th:field="*{ip}" readonly>
						</div>
						<div class="col-md-6">
							<label class="mb-1" for="url">URL</label>
							<input class="form-control" th:field="*{url}" readonly>
						</div>
						<div class="col-md-12">
							<label class="mb-1" for="parameters">파라미터</label>
							<textarea class="form-control" th:field="*{parameters}" rows="10" cols="40" readonly></textarea>
						</div>
						<div class="col-md-12 row align-items-center justify-content-center custom-button-area">
							<button type="button" id="btnList" class="btn btn-danger btn-lg d-block col-3 ml-2">로그 목록</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" layout:fragment="script">
		$(function() {
			$('#btnList').on("click", function() {
				location.href="/admin/log/";
			});
		});
	</script>
	</th:block>
</body>
</html>