<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/de_layout}">
<head>
<meta charset="UTF-8">
<title>로그 등록(개발테스트에만씀)</title>
</head>
<body>
<body id="page-top">
	<th:block layout:fragment="contents">
		<!-- Begin Page Content -->
		<div class="container-fluid">
			<h1 class="h3 mb-4 text-gray-800">로그 등록</h1>
			<form th:action="@{/admin/log}" method="post" th:object="${logDTO}">
				<label for="itemNm">아이디</label>
				<input type="text" id="accessId" th:field="*{accessId}">
				<label for="price">접근타입</label>
				<input type="text" id="accessType" th:field="*{accessType}">
				<label for="accessDevice">접근장치</label>
				<input type="text" id="accessDevice" th:field="*{accessDevice}">
				<label for="ip">IP</label>
				<input type="text" id="ip" th:field="*{ip}">
				<label for="url">URL</label>
				<input type="text" id="url" th:field="*{url}">
				<label for="parameters">파라미터</label>
				<textarea id="parameters" th:field="*{parameters}" rows="6"></textarea>
				
				<div id="commandArea">
					<button type="submit">로그 등록</button>
					<button type="button" id="btnList">로그 목록</button>
				</div>
				
			</form>
			<script type="text/javascript">
				$(function() {
					$('#btnList').on("click", function() {
						location.href="/admin/log";
					});
				});
			</script>
		</div>
	</th:block>
</body>
</html>