<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.itwillbs.de.orders.mapper.ClientMapper">
	<sql id="t_client_columns_forSelect">
		code,
		company_name,
		owner_name,
		company_category,
		company_subject,
		phone_number,
		e_mail,
		fax_number,
		address1,
		address2,
		credit_limit,
		is_deleted,
		memo,
		status,
		status_message,
		reg_id,
		reg_date,
		mod_id,
		mod_date
	</sql>
	
	<select id="getClientList" resultType="kr.co.itwillbs.de.orders.dto.ClientDTO">
		SELECT
			<include refid="t_client_columns_forSelect"></include>
		  FROM t_client
	</select>
	
	<insert id="insertClient">
		INSERT
		  INTO t_client
			 ( code
			 , company_name
			 , owner_name
			 , company_category
			 , company_subject
			 , phone_number
			 , e_mail
			 , fax_number
			 , address1
			 , address2
			 , credit_limit
			 , is_deleted
			 , memo
			 , status
			 , status_message)
		VALUES 
		     ( #{code}
		     , #{companyName}
		     , #{ownerName}
		     , #{companyCategory}
		     , #{companySubject}
		     , #{phoneNumber}
		     , #{eMail}
		     , #{faxNumber}
		     , #{address1}
		     , #{address2}
		     , #{creditLimit}
		     , #{isDeleted}
		     , #{memo}
		     , #{status}
		     , #{statusMessage})
	</insert>
	
	
	
</mapper>












