<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.de.sample.mapper.SampleMapper">

	<!-- href: https://mybatis.org/mybatis-3/ko/dynamic-sql.html -->
	<select id="templates" >
		<![CDATA[]]><!-- Character DATA(CDATA) 는 <![CDATA[문자열]]> 파싱되지 않고 그대로 출력을 위함, 쿼리에서 (>, <, =) 표현을 작성할 때 썼음 -->
		
		<if test="blabla != null"></if><!-- mybatis가 동적쿼리가 되는 시작 점. -->
		
		<choose><!-- mybatis switch 문 -->
			<when test="bla != null">
			</when>
			<when test="bla != null and blabla != null">
			</when>
			<otherwise>
			</otherwise>
		</choose>
		
		<where></where><!-- where 엘리먼트는 태그에 의해 컨텐츠가 리턴되면 단순히 “WHERE”만을 추가한다. 게다가 컨텐츠가 “AND”나 “OR”로 시작한다면 그 “AND”나 “OR”를 지워버린다. -->
		<trim prefix="WHERE" prefixOverrides="AND |OR "></trim><!-- 위의<where>의 <trim>버전 -->
		
		<set></set><!--  set 엘리먼트는 동적으로 SET 키워드를 붙히고 필요없는 콤마를 제거한다. -->
		<trim prefix="SET" suffixOverrides=","></trim><!-- 위의<set>의 <trim>버전 -->
		
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")" nullable="true">
			#{item}
		</foreach>
		
		<foreach item="item" index="index" collection="list">
			(#{item.index}, #{item.id}, #{item.name}, #{item.isDeleted})
		</foreach>
	</select>
	
	<sql id="t_demo_columns_forSelect">
		idx,
		id,
		password,
		name,
		is_deleted,
		role,
		reg_id,
		reg_date,
		mod_id,
		mod_date,
		read_cnt
	</sql>
	
	<select id="getSampleList" resultType="kr.co.itwillbs.de.sample.dto.SampleDTO">
		select 
			<include refid="t_demo_columns_forSelect"></include>
		from t_demo
	</select>

	<select id="getSample" parameterType="string"
			resultType="kr.co.itwillbs.de.sample.dto.SampleDTO">
		select 
			<include refid="t_demo_columns_forSelect"></include> 
		from t_demo
		where idx = #{idx}
	</select>
	
	<!-- useGeneratedKeys : true 일때, keyProperty : idx >> affectRow가 아닌 생성된 idx가 리턴타입에 셋 mysql은 확인됨 -->
	<insert id="registerSample" useGeneratedKeys="true" keyProperty="idx" parameterType="kr.co.itwillbs.de.sample.dto.SampleDTO">
		insert into t_demo (
			id,
			<if test='password !=null and !password.equals("")'>
			password,
			</if>
			<if test='name !=null and !name.equals("")'>
			name,
			</if>
			<if test='isDeleted !=null and !isDeleted.equals("")'>
			is_deleted,
			</if>
			<if test='role !=null and !role.equals("")'>
			role,
			</if>
			reg_id,
			reg_date,
			<if test='modId !=null and !modId.equals("")'>
			mod_id,
			</if>
			<if test='modId !=null and !modId.equals("")'>
			mod_date,
			</if>
			read_cnt
		) values (
			#{id},
			<if test='password !=null and !password.equals("")'>
			#{password},
			</if>
			<if test='name !=null and !name.equals("")'>
			#{name},
			</if>
			<if test='isDeleted !=null and !isDeleted.equals("")'>
			#{isDeleted},
			</if>
			<if test='role !=null and !role.equals("")'>
			#{role},
			</if>
			#{regId},
			now(),
			<if test='modId !=null and !modId.equals("")'>
			#{modId},
			</if>
			<if test='modId !=null and !modId.equals("")'>
			now(),
			</if>
			0
			)
	</insert>
	
	<select id="getSampleSearchList" parameterType="kr.co.itwillbs.de.sample.dto.SampleSearchDTO"
					resultType="kr.co.itwillbs.de.sample.dto.SampleDTO">
		select 
			<include refid="t_demo_columns_forSelect"></include>
		from t_demo
		<where>
			<if test="id != null">AND id = #{id} </if>
			<if test="name != null">AND name = #{name} </if>
			<if test="isDeleted != null">AND is_deleted = #{isDeleted} </if>
		</where>
	</select>
	
	<!-- <set>이 분명 마지막 , 를 제거해준다고 알고 있다? 맞나? -->
	<update id="modifySample" parameterType="kr.co.itwillbs.de.sample.dto.SampleSearchDTO">
		update t_demo
			<set>
				<if test="id != null">id = #{id},</if>
				<if test="password != null">password = #{password},</if>
				<if test="name != null">name = #{name},</if>
				<if test="isDeleted != null">is_deleted = #{isDeleted},</if>
				<if test="role != null">role = #{role},</if>
				<if test="modId != null">mod_id = #{modId},</if>
				<if test="modId != null">mod_date = now(),</if>
				<if test="idx != null">read_cnt = (select nvl(read_cnt,0)+1 from t_demo where idx = #{idx}),</if>
			</set>
		where idx = #{idx}
	</update>
	
	<update id="removeSample" parameterType="kr.co.itwillbs.de.sample.dto.SampleSearchDTO">
		update t_demo
			<set>
				<if test="isDeleted != null">is_deleted = #{isDeleted},</if>
			</set>
		where idx = #{idx}
	</update>
	
</mapper>