<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/de_layout}">
<head>
<title>코드 관리</title>
</head>
<body id="page-top">
	<th:block layout:fragment="contents">
		<!-- Begin Page Content -->
		<div class="container-fluid">
			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800">코드 상세</h1>
			<!-- 리스트 출력 -->
			<div class="card shadow mb-4">
				<div class="card-body">
					<div class="table-responsive"><!-- 반응형으로 해준다는 말이겠지? -->
						<div class="row">
							<div class="col-sm-12 col-md-4">
								<button type="button" id="majorCodeToggle">그룹코드 수정<span id="majorCodeToggle_text">(열기)</span></button>
								<button type="button" id="codeAjax">코드그룹 수정Ajax</button>
								<button type="button" id="listBtn">리스트 가기</button>
							</div>
							<div class="col-sm-12 col-md-2">
							</div>
							<div class="col-sm-12 col-md-6">
								<button type="button" id="addRow">코드 추가</button>
								<!-- <button type="button" id="codeItemsSubmit">코드 저장</button> -->
								<button type="button" id="codeItemsAjax">코드 저장Ajax</button>
							</div>
						</div>
						<div class="row">
						</div>
						<table class="table table-bordered" th:object="${codeDTO}">
						<input type="hidden" th:field="*{idx}" id="major_idx"/>
							<thead>
								<tr>
									<th>그룹코드</th>
									<th>그룹코드이름</th>
									<th>그룹코드설명</th>
									<th>삭제유무</th>
									<th>최초 작성자</th>
									<!-- <th>작성일자</th> -->
								</tr>
							</thead>
							<tbody>
								<tr id="major_tr">
									<td><input type="text" th:field="*{majorCode}" id="majorCode" disabled></td>
									<td><input type="text" th:field="*{name}" id="majorName" disabled></td>
									<td><input type="text" th:field="*{description}" disabled></td>
									<td><input type="text" th:field="*{isDeleted}" disabled></td>
									<td><input type="text" th:field="*{regId}" disabled></td>
									<!-- <td><input type="text" th:field="*{regDate}" disabled></td> -->
								</tr>
							</tbody>
						</table>
						<div class="row">
							<form action="/admin/code/codeItemsForm" method="post" id="codeItemDTOListForm" th:object="${codeItemDTOList}">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>코드</th>
											<th>코드 이름</th>
											<th>코드 설명</th>
											<th>순서</th>
											<th>삭제유무</th>
											<th>삭제</th>
										</tr>
									</thead>
									<tbody id="code_items_tbody">
										<tr th:each="item, status : ${codeItemDTOList}" class="clickable-row code_items" th:data-id="${status.count}">
											<!--/* <td><input type="text" name="majorCode" th:value="${item.majorCode}" placeholder="그룹 코드" /></td> */-->
											<td><input type="text" name="minorCode" th:value="${item.minorCode}" placeholder="코드" /></td>
											<td><input type="text" name="minorName" th:value="${item.minorName}" placeholder="코드 이름" /></td>
											<td><input type="text" name="description" th:value="${item.description}" placeholder="코드 설명" /></td>
											<td><input type="text" name="rankNumber" th:value="${item.rankNumber}" placeholder="순서" /></td>
											<td><input type="text" name="isDeleted" th:value="${item.isDeleted}" placeholder="삭제 유무(Y/N)" /></td>
											<td><button type="button" class="removeItems">삭제</button></td>
										</tr>
										<tr th:if="${#lists.isEmpty(codeItemDTOList)}" class="clickable-row code_items" data-id="1">
											<td><input type="text" name="minorCode" placeholder="코드" /></td>
											<td><input type="text" name="minorName" placeholder="코드 이름" /></td>
											<td><input type="text" name="description" placeholder="코드 설명" /></td>
											<td><input type="text" name="rankNumber"  placeholder="순서" /></td>
											<td><input type="text" name="isDeleted" placeholder="삭제 유무(Y/N)" /></td>
											<td><button type="button" class="removeItems">삭제</button></td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(function() {
				// 리스트 가기 버튼 클릭 이벤트
				$('#listBtn').on("click", function() {
					location.href="/admin/code";
				});
				// 메뉴 추가 버튼 클릭 이벤트
				$('#addRow').on("click", function() {
					console.group('click! addRow!');
					let idx = $('#code_items_tbody').children('tr').length+1;
					console.log('idx is %s', idx);
					let tableRowHtml = '<tr class="clickable-row code_items" data-id='+idx+'>';
					tableRowHtml += '<td><input type="text" name="minorCode" value="" placeholder="코드" /></td>';
					tableRowHtml += '<td><input type="text" name="minorName" value="" placeholder="코드 이름" /></td>';
					tableRowHtml += '<td><input type="text" name="description" value="" placeholder="코드 설명" /></td>';
					tableRowHtml += '<td><input type="text" name="rankNumber" value="" placeholder="순서" /></td>';
					tableRowHtml += '<td><input type="text" name="isDeleted" value="" placeholder="삭제 유무(Y/N)" /></td>';
					tableRowHtml += '<td><button type="button" class="removeItems">삭제</button></td>';
					tableRowHtml += '</tr>';
					$('#code_items_tbody').append(tableRowHtml);
					console.groupEnd();
				}); // end of $('#addRow').on("click", function() {
				
				// 메뉴 저장 서브밋 처리
				$('#codeItemsSubmit').on("click", function() {
					console.group('click! codeItemsSubmit!');
					alert("서브밋 불가!");
					return false;
					$('#codeItemDTOListForm').submit();
					console.groupEnd();
				}); // end of $('#codeItemsSubmit').on("click", function() {
				
				$('#codeItemsAjax').on("click", function() {
					console.group('click! codeItemsAjax!');
					let _rowCnt = $('.code_items').length;
					let _totalCnt = $('.code_items').find('input').length;
					let _hasValueCnt = 0;
					const _rankSet = new Set();
					$('.code_items').find('input').each(function(idx, item) {
						if(item.name == "rankNumber") _rankSet.add(item.value);
						if(item.value != "" || item.value.length > 0) _hasValueCnt += 1;
					});
					
					if(_totalCnt != _hasValueCnt) {
						alert("하위코드는 빈 값을 허용하지 않습니다.\n값을 입력하거나, 비어있는 메뉴 행을 삭제 후 저장해주세요.");
						return false;
					}
/* 					console.log("_rowCnt : %s", _rowCnt);
					console.log(typeof _rowCnt);
					console.log(_rankSet);
					console.log("_rankSet.size : %s", _rankSet.size);
					console.log(typeof _rankSet.size); */
					if(_rowCnt <= _rankSet) {
						alert("순서는 중복될 수 없습니다.\n각각 다른 값을 입력해주세요.");
						return false;
					}
					
					const _codeItems = document.querySelectorAll(".code_items");
					const _itemsList = [];
			
					_codeItems.forEach(item => {
						const codeItem = {
							majorCode: document.querySelector('#majorCode').value,
							minorCode: item.querySelector('[name="minorCode"]').value,
							minorName: item.querySelector('[name="minorName"]').value,
							description: item.querySelector('[name="description"]').value,
							rankNumber: item.querySelector('[name="rankNumber"]').value,
							isDeleted: item.querySelector('[name="isDeleted"]').value
						};
						_itemsList.push(codeItem);
					});
					console.log(_itemsList);
					if(!confirm("하위 코드를 저장 하시겠습니까?")) {
						return false;
					}
					// JSON 데이터를 서버로 전송
					fetch("/admin/code/itemsJson", {
						method: "POST",
						headers: {
							"Content-Type": "application/json"
						},
						body: JSON.stringify(_itemsList)
					})
					.then(response => response.json())
					.then(data => {
						console.log("서버 응답:", data);
						if(data.status === "success") {
							alert(data.message);
							location.reload(); // 현재 페이지 새로 고침
						} else {
							
						}
						
					})
					.catch(error => {
						console.error("서버 응답 오류:", error);
						if(data.status === "fail") {
							alert(data.message);
						}
					});
					console.groupEnd();
				}); //end of $('#codeItemsAjax').on("click", function() {
				
				// 2depth 메뉴들의 삭제 버튼에 이벤트
				$('#code_items_tbody').on("click", '.removeItems', function() {
					console.group('click! #code_items_tbody > .removeItems!');
					//랜더링 이후 append로 들어간 dom에 이렇게 해야지 이벤트가 걸리다니?
					console.log($(this));
					//디자인을 위해 최소한? 1개는 가지고 있어야 할것 같다
					if($('#code_items_tbody').children('tr').length > 1) {
						//클릭한 버튼의 부모 tr을 없애주세요
						$(this).parents('tr').remove();
					} else {
						console.log("It's imposible");
					}
					console.groupEnd();
				}); // end of $('#code_items_tbody').on("click", '.removeItems', function() {
				
				// majorCode 수정 모드
				$('#majorCodeToggle').on("click", function() {
					console.group('click! #majorCodeToggle!');
					let _isDisabled = document.querySelector('#majorCode').disabled;
					console.log("_isDisabled : " + _isDisabled);
					if(_isDisabled) {
						$('#majorCodeToggle_text').text("(닫기)");
					} else {
						$('#majorCodeToggle_text').text("(열기)");
					}
					let inputItems = $('#majorCode').parents('tr').children('td').find('input');
					//console.log(inputItems);
					// 현재 disabled 값을 가져온다! 가져온것!
					let _targetIsDisabled = !_isDisabled;
					console.log("_targetIsDisabled : " + _targetIsDisabled);
					for(let i=0; i<inputItems.length; i++) {
						inputItems[i].disabled = _targetIsDisabled;
					}
					
					console.groupEnd();
				}); // end of $('#majorCodeToggle').on("click", function() {
				
				$('#codeAjax').on("click", function() {
					console.group('click! #codeAjax!');
					let _majorCode = document.querySelector('#majorCode').value;
					if(!confirm("[ "+ _majorCode + " ] 정보를 수정 하시겠습니까?")){
						return;
					}
					// 빈 객체 생성
					let _jsonObj = {};
					let _name, _value; // _이름과 값으로 쓸 변수 생성
					// 반복 돌면서 데이터 가져오기
					let _inputItems = $('#majorCode').parents('tr').children('td').find('input');
					$(_inputItems).each(function(idx) {
						_name = $(this).attr('name');	// DTO 클래스 필드 값 가져오기
						_value = $(this).val();			// DTO 클래스 필드에 들어갈 값 가져오기
						_jsonObj[_name] = _value;
					});
					// 인덱스 넣기
					_jsonObj['idx'] = $('#major_idx').val();
					console.log(_jsonObj);
					// JSON 데이터를 서버로 전송
					fetch("/admin/code/codeJson", {
						method: "POST",
						headers: {
							"Content-Type": "application/json"
						},
						body: JSON.stringify(_jsonObj)
					})
					.then(response => response.json())
					.then(data => {
						console.log("서버 응답:", data);
						if(data.status === "success") {
							alert(data.message);
							location.reload(); // 현재 페이지 새로 고침
						}
						
					})
					.catch(error => {
						console.error("서버 응답 오류:", error);
						if(data.status === "fail") {
							alert(data.message);
						}
					});
					console.groupEnd();
				}); // end of $('#codeAjax').on("click", function() {
				
			}); // end of $(function() {
		</script>
	</th:block>
</body>
</html>