<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/de_layout}">
<head>
<title>코드 리스트</title>
</head>
<body id="page-top">
	<th:block layout:fragment="contents">
		<!-- Begin Page Content -->
		<div class="container-fluid">
			<!-- Page Heading -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-2 text-gray-800">코드 리스트</h1>
			</div>
			<!-- Content Row -->
			<div class="row">
				<div class="card shadow col-xl-12 col-lg-12 mb-1">
					<div class="card-body">
						<div class="table-responsive"><!-- 반응형으로 해준다는 말이겠지? 안해주더라 -->
							<form th:action="@{/admin/code/search}" method="get" th:object="${codeSearchDTO}">
							<table class="table table-borderd">
								<tr>
									<td class="col-sm-12 col-md-2"><label for="majorCode">공통코드</label></td>
									<td class="col-sm-12 col-md-3"><!-- <input type="text" id="majorCode" th:field="*{majorCode}"></td> -->
																	<th:block th:with="majorCode=*{majorCode}">
																	<!-- <div th:text="${majorCode}"></div> -->
																	<select name="majorCode" id="majorCode" th:value="*{majorCode}" class="form-select" aria-label="Default select example">
																		<option value="">선택</option>
																		<!-- <option th:each="item : *{codeList}" th:value="${item.majorCode}" th:text="${item.name}"></option> -->
																		<option th:each="item : *{codeList}" th:value="${item.majorCode}" th:text="${item.name}" th:selected="${majorCode} == ${item.majorCode}"></option>
																	</select>
																	</th:block>
									</td>
									<td class="col-sm-12 col-md-2"><label for="isDeleted">삭제유무</label></td>
									<td class="col-sm-12 col-md-3"><select name="isDeleted" id="isDeleted" th:value="*{isDeleted}" class="form-select" aria-label="Default select example">
																		<option value="" th:selected="*{isDeleted} eq '' ">전체</option>
																		<option value="Y" th:selected="*{isDeleted} eq 'Y' ">삭제</option>
																		<option value="N" th:selected="*{isDeleted} eq 'N' ">사용중</option>
																	</select>
									</td>
									<td class="col-sm-12 col-md-1" rowspan="2">
										<!-- <div class="d-grid col-2 gap-2 d-md-block"> -->
										<div class="d-grid col-2 gap-2 mx-auto">
											<button type="submit" class="btn btn-primary">검색</button>
										</div>
									</td>
									<td class="col-sm-12 col-md-1" rowspan="2">
										<div class="d-grid col-2 gap-2 mx-auto">
											<button type="button" id="newBtn" class="btn btn-success">코드 작성</button>
										</div>
									</td>
								</tr>
								<tr>
									<td class="col-sm-12 col-md-2"><label for="name">공통코드이름</label></td>
									<td class="col-sm-12 col-md-3"><input type="text" id="name" th:field="*{name}"></td>
									<td class="col-sm-12 col-md-2"><label for="regId">작성자</label></td>
									<td class="col-sm-12 col-md-3"><input type="text" id="regId" th:field="*{regId}"></td>
									<!-- <td></td>
									<td></td> 위 tr에서 rowspan 희생 td들-->
								</tr>
							</table>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- 리스트 출력 -->
			<div class="card shadow mb-4">
				<div class="card-body">
					<div class="table-responsive"><!-- 반응형으로 해준다는 말이겠지? -->
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>번호</th>
									<th>공통코드그룹</th>
									<th>이름</th>
									<th>설명</th>
									<th>사용여부</th>
									<th>등록자</th>
									<th>등록일자</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item, status : ${codeDTOList}" th:data-id="${item.idx}" class="clickable-row">
									<!-- <th:block th:object="${item}"> -->
									<td th:text="${status.count}"></td>
									<td th:text="${item.majorCode}"></td>
									<td th:text="${item.name}"></td>
									<td th:text="${item.description}"></td>
									<td th:text="${item.isDeleted}"></td>
									<td th:text="${item.regId}"></td>
									<td th:text="${#temporals.format(item.regDate, 'yyyy-MM-dd hh:mm:ss')}"></td>
								</tr>
								<tr th:if="${#lists.isEmpty(codeDTOList)}" class="clickable-row menu2depth_items" data-id="1">
									<td colspan="7"><span>조회 된 데이터가 없습니다.</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<script type="text/javascript">
				$(function() {
					$('#newBtn').on("click", function() {
						location.href="/admin/code/new";
					});
					
					$('.clickable-row').on("click", function() {
						const id = $(this).data("id");
						console.log("click id is %s", id);
						location.href=`/admin/code/${id}`;
					});
				}); // end of $(function() {
			</script>
		</div>
	</th:block>
</body>
</html>