<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/de_layout}">
<head>
<meta charset="UTF-8">
<title>팩토리(PackTory) - 공통코드 관리</title>
	<style type="text/css">
		.form {
			max-width: 800px;
			margin: 0 auto;
		}
		input, select {
	        border: 1px solid #ccc;
	        padding: 5px;
	        margin: 2px;
		}
		.essential {
	        background-color: #fffbe6; /* 연한 노랑 */
	    }
	    .filled {
	        background-color: white;
	    }
	    
	    /* ----------------- */
	    .addressInfo {
		    display: flex;
		}
	    @media (max-width: 768px) {
		    .addressInfo {
			    display: block;
			}
		}
	</style>

</head>
<body>
<body id="page-top">
	<th:block layout:fragment="contents">
		<!-- Begin Page Content -->
		<div class="container-fluid">
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-4 text-gray-800">그룹코드 등록</h1>
			</div>
			
			<!-- ---------- 본문 컨테이너 ---------- -->
			<div class="card shadow mb-4">
				<div class="card-body">
					<div class="table-responsive">
						<form th:action="@{/admin/code}" method="post" th:object="${codeDTO}" class="form row g-3">
							<input type="hidden" id="menuId" name="menuId" value="0">
							<div class="col-md-6">
								<label class="mb-1" for="majorCode">그룹 코드</label>
								<input type="text" class="form-control" th:field="*{majorCode}" placeholder="그룹 코드">
							</div>
							<div class="col-md-6">
								<label class="mb-1" for="name">코드 이름</label>
								<input type="text" class="form-control" th:field="*{name}" placeholder="코드 이름">
							</div>
							<div class="col-md-6">
								<label class="mb-1" for="description">코드 설명</label>
								<input type="text" class="form-control" th:field="*{description}" placeholder="코드 설명">
							</div>
							<div class="col-md-6 mb-4">
								<label for="isDeleted" class="form-label">삭제유무</label>
								<select id="isDeleted" name="isDeleted" class="form-select" th:field="*{isDeleted}">
									<option value="Y" th:selected="*{isDeleted} eq 'Y' ">삭제</option>
									<option value="N" th:selected="*{isDeleted} eq 'N' ">사용중</option>
<!-- 									<option value="" th:selected="*{isDeleted} eq '' ">선택</option> -->
								</select>
							</div>
							
							<div class="col-md-12 row align-items-center justify-content-center">
								<button type="submit" id="btnSubmitForm" class="btn btn-primary btn-lg d-block col-3 ml-2 mb-3">등록</button>
								<button type="button" id="btnList" class="btn btn-secondary btn-lg d-block col-3 ml-2 mb-3">취소</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			$(function() {
				$('#btnList').on("click", function() {
					location.href="/admin/code";
				});
			}); // end of $(function() {
		</script>
	</th:block>
</body>
</html>