<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{common/layouts/de_layout}">
<head>
<meta charset="UTF-8">
<title>코드 등록</title>
</head>
<body>
<body id="page-top">
	<th:block layout:fragment="contents">
		<!-- Begin Page Content -->
		<div class="container-fluid">
			<h1 class="h3 mb-4 text-gray-800">로그 등록</h1>
			<form th:action="@{/admin/code}" method="post" th:object="${codeDTO}">
				<label for="majorCode">그룹코드</label>
				<input type="text" id="majorCode" th:field="*{majorCode}">
				<label for="name">코드이름</label>
				<input type="text" id="name" th:field="*{name}">
				<label for="description">코드설명</label>
				<input type="text" id="description" th:field="*{description}">
				<label for="isDeleted">삭제유무</label>
				<input type="text" id="isDeleted" th:field="*{isDeleted}" placeholder="Y/N 입력해주세요.">
				<!-- <label for="ip">IP</label>
				<input type="text" id="ip" th:field="*{ip}">
				<label for="url">URL</label>
				<input type="text" id="url" th:field="*{url}">
				<label for="parameters">파라미터</label>
				<textarea id="parameters" th:field="*{parameters}" rows="6"></textarea> -->
				
				<div id="commandArea">
					<button type="submit" class="btn btn-success ml-2">코드 등록</button>
					<button type="button" id="btnList" class="btn btn-primary ml-2">코드 목록</button>
				</div>
				
			</form>
			<script type="text/javascript">
				$(function() {
					$('#btnList').on("click", function() {
						location.href="/admin/code";
					});
				}); // end of $(function() {
			</script>
		</div>
	</th:block>
</body>
</html>