<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layouts/de_layout}">
<head>
<title>팩토리(PackTory) - 원자재 검사</title>

<style>
.left-form {
	border-right: 1px solid #e3e6f0;
}

@media ( max-width : 768px) {
	.left-form {
		border-right: none !important;
	}
}
</style>
</head>

<body id="page-top">
	<div layout:fragment="contents">
		<!-- Begin Page Content -->
		<div class="container-fluid">
			<!-- Page Heading -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-4 text-gray-800">원자재 검사</h1>
			</div>

			<!-- 검색바 컨테이너 -->
			<div class="card shadow mb-4">
				<div class="card-body">
					<!-- 검색 폼 -->
					<div class="search-wrap border">
						<section class="d-flex search-inner">
							<div class="col pl-4 search-box">
								<th:block th:with="status=${searchDTO.status}">
								<form th:action="@{/mes/qclog/required/{status}(status=${status})}" method="get" th:object="${searchDTO}" id="searchForm">
									<input type="hidden" th:field="*{pageDTO.page}">
									<input type="hidden" th:field="*{pageDTO.size}">

									<div class="container-fluid px-5 mt-3">
										<div class="row">

											<!-- 왼쪽 컬럼 -->
											<div class="col-md-6 left-form">

												<!-- 측정결과 -->
												<div class="form-group row mb-3">
													<div th:replace="~{common/fragments/de_search_form :: inputText('materialName', '자재이름', false)}"></div>
												</div>
											</div>
											<!-- 왼쪽 컬럼 끝 -->

											<!-- 오른쪽 컬럼 -->
											<div class="col-md-6">

												<div class="form-group row mb-3">
												</div>
											</div>
											<!-- 오른쪽 컬럼 끝 -->

											<!-- 검색바 버튼 -->
											<div class="row justify-content-end">
												<!--/* <div class="col-12 col-sm-auto mb-2">
													<button class="btn btn-success btn-block" id="btnRegister" type="button">품질로그 등록</button>
												</div> */-->
												<div class="col-12 col-sm-auto mb-2">
													<button type="button" class="btn btn-warning btn-block" onclick="formReset('searchForm');">초기화</button>
												</div>
												<div class="col-12 col-sm-auto mb-2">
													<button class="btn btn-primary btn-block" id="btnSearch" type="submit">검색</button>
												</div>
											</div>
											<!-- 검색바 버튼 끝 -->
										</div>
									</div>
								</form>
								</th:block>
							</div>
						</section>
					</div>
					<!-- 검색폼 끝 -->
				</div>
			</div>
			<!-- 검색바 컨테이너 끝 -->

			<!-- 본문 컨테이너 -->
			<!-- 목록 카드 -->
			<div class="card shadow mb-4">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered table-hover text-center" id="dataTables" width="100%" cellspacing="0">
							<thead class="table-light">
								<tr>
									<th>번호</th>
									<th>타입명</th>
									<th>자재키값</th>
									<th>자재명</th>
									<th>단위</th>
									<th>개수</th>
									<th>상태명</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${requiredList}" th:data-id="${item.idx}">
									<td th:text="${item.rowNum}"></td>
									<td th:text="${item.transTypeName}"></td>
									<td th:text="${item.materialIdx}"></td>
									<td th:text="${item.materialName}"></td>
									<td th:text="${item.unitName}"></td>
									<td th:text="${item.quantity}"></td>
									<td th:text="${item.statusName}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div th:replace="~{common/fragments/de_pagination :: pagination(${searchDTO})}"></div>
		</div>
		<!-- 본문 컨테이너 끝 -->

		<script type="text/javascript">
			$(document).ready(function() {

				// init DataTable
				$('#dataTables').DataTable({
					lengthChange : false,
					searching : false,
					paging : false,
					info : false,
					order : [ 0, "desc" ],
					responsive : true
				}); // end of $('#dataTables').DataTable({

				// 등록 페이지 이동
				$("#btnRegister").on("click", function() {
					console.log("btnRegister click!!!");
					location.href = "/mes/qclog/new"; // 품질로그 등록 페이지로 이동
				});

				// 상세 페이지 이동
				$("#dataTables tbody").on('click', 'tr', function() {
					console.log("dataTables tbody click!!");
					var id = $(this).data('id');

					if (!id) {
						return; // 페이지 이동 막기
					}
					location.href = '/mes/qclog/new/'+id;
				});
			});
		</script>
	</div>
</body>
</html>
