<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.de.admin.mapper.CodeMapper">

	<!-- href: https://mybatis.org/mybatis-3/ko/dynamic-sql.html -->
	<sql id="templates" >
		<![CDATA[]]><!-- Character DATA(CDATA) 는 <![CDATA[문자열]]> 파싱되지 않고 그대로 출력을 위함, 쿼리에서 이스케이프 문자를 사용하지 않기 위해 썼음 -->
		<!-- 예시) 컬럼명 &gt;(&lt;) #{필드명} -> 컬럼명<![CDATA[>(<)]]> #{필드명} -->
		<if test="blabla != null"></if><!-- mybatis가 동적쿼리가 되는 시작 점. -->
		
		<choose><!-- mybatis switch 문 -->
			<when test="bla != null">
			</when>
			<when test="bla != null and blabla != null">
			</when>
			<otherwise>
			</otherwise>
		</choose>
		
		<where></where><!-- where 엘리먼트는 태그에 의해 컨텐츠가 리턴되면 단순히 “WHERE”만을 추가한다. 게다가 컨텐츠가 “AND”나 “OR”로 시작한다면 그 “AND”나 “OR”를 지워버린다. -->
		<trim prefix="WHERE" prefixOverrides="AND |OR "></trim><!-- 위의<where>의 <trim>버전 -->
		
		<set></set><!--  set 엘리먼트는 동적으로 SET 키워드를 붙히고 필요없는 콤마를 제거한다. -->
		<trim prefix="SET" suffixOverrides=","></trim><!-- 위의<set>의 <trim>버전 -->
		
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")" nullable="true">
			#{item}
		</foreach>
		
		<foreach item="item" index="index" collection="list">
			(#{item.index}, #{item.id}, #{item.name}, #{item.isDeleted})
		</foreach>
		<!-- like 문 사용 시
		[MySQL||H2]column LIKE CONCAT('%',#{keyword},'%')
		[Oracle]column LIKE '%'||#{keyword}||'%'
		[MSSQL]column LIKE '%'+#{keyword}+'%'
		 -->
	</sql>
	
	<sql id="t_commonCode_columns_forSelect">
		idx,
		major_code,
		name,
		description,
		is_deleted,
		reg_id,
		reg_date,
		mod_id,
		mod_date
	</sql>
	
	<sql id="t_commonCode_item_columns_forSelect">
		idx,
		major_code,
		minor_code,
		minor_name,
		description,
		is_deleted,
		rank_number,
		reg_id,
		reg_date,
		mod_id,
		mod_date
	</sql>
	
	<insert id="registerCode" useGeneratedKeys="true" keyProperty="idx" 
								parameterType="kr.co.itwillbs.de.admin.dto.CodeDTO">
		insert into t_commoncode (
			<trim suffixOverrides=",">
			major_code,
			name,
			description,
			is_deleted,
			reg_id,
			reg_date,
			<if test='modId !=null and !modId.equals("")'>
			mod_id,
			mod_date,
			</if>
			</trim>
		) values (
			<trim suffixOverrides=",">
			#{majorCode},
			#{name},
			#{description},
			#{isDeleted},
			#{regId},
			now(),
			<if test='modId !=null and !modId.equals("")'>
			#{modId},
			now()
			</if>
			</trim>
		)
	</insert>
	
	<select id="getCodeList" resultType="kr.co.itwillbs.de.admin.dto.CodeDTO">
		select 
			<include refid="t_commonCode_columns_forSelect" />
		from t_commoncode
	</select>
	
	<select id="getCodeByIdx" parameterType="kr.co.itwillbs.de.admin.dto.CodeSearchDTO"
								resultType="kr.co.itwillbs.de.admin.dto.CodeDTO">
		select 
			<include refid="t_commonCode_columns_forSelect" />
		from t_commoncode
			<where>
				<if test="idx != null">AND idx = #{idx} </if>
			</where>
	</select>
	
	<select id="getCodeItemsByMajorCode" parameterType="kr.co.itwillbs.de.admin.dto.CodeSearchDTO"
								resultType="kr.co.itwillbs.de.admin.dto.CodeItemDTO">
		select 
			<include refid="t_commonCode_item_columns_forSelect" />
		from t_commoncode_item
			<where>
				<if test="idx != null">AND major_code = #{majorCode} </if>
			</where>
	</select>

	<update id="modifyCode" parameterType="kr.co.itwillbs.de.admin.dto.CodeDTO">
		update t_commoncode
			<set>
				<if test="majorCode != null">major_code = #{majorCode},</if>
				<if test="name != null">name = #{name},</if>
				<if test="description != null">description = #{description},</if>
				<if test="isDeleted != null">is_deleted = #{isDeleted},</if>
				<if test='modId !=null and !modId.equals("")'>mod_id = #{modId},</if>
				<if test='modId !=null and !modId.equals("")'>mod_date = now(),</if>
			</set> 
		where idx = #{idx}
	</update>
	
	<delete id="removeCodeItems" parameterType="kr.co.itwillbs.de.admin.dto.CodeItemDTO">
		delete from t_commoncode_item 
		where major_code = #{majorCode}
	</delete>
	
	<insert id="registerCodeItems" parameterType="kr.co.itwillbs.de.admin.dto.CodeItemDTO">
		insert into t_commoncode_item (
		<trim suffixOverrides=",">
			major_code,
			minor_code,
			minor_name,
			description,
			is_deleted,
			rank_number,
			reg_id,
			reg_date,
		</trim>
		) values 
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.majorCode}, #{item.minorCode}, #{item.minorName}, #{item.description}, #{item.isDeleted}, #{item.rankNumber}, #{item.regId}, now())
		</foreach>
	</insert>
</mapper>