<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.itwillbs.de.admin.mapper.MenuMapper">

	<!-- href: https://mybatis.org/mybatis-3/ko/dynamic-sql.html -->
	<sql id="templates" >
		<![CDATA[]]><!-- Character DATA(CDATA) 는 <![CDATA[문자열]]> 파싱되지 않고 그대로 출력을 위함, 쿼리에서 이스케이프 문자를 사용하지 않기 위해 썼음 -->
		<!-- 예시) 컬럼명 &gt;(&lt;) #{필드명} -> 컬럼명<![CDATA[>(<)]]> #{필드명} -->
		<if test="blabla != null"></if><!-- mybatis가 동적쿼리가 되는 시작 점. -->
		
		<choose><!-- mybatis switch 문 -->
			<when test="bla != null">
			</when>
			<when test="bla != null and blabla != null">
			</when>
			<otherwise>
			</otherwise>
		</choose>
		
		<where></where><!-- where 엘리먼트는 태그에 의해 컨텐츠가 리턴되면 단순히 “WHERE”만을 추가한다. 게다가 컨텐츠가 “AND”나 “OR”로 시작한다면 그 “AND”나 “OR”를 지워버린다. -->
		<trim prefix="WHERE" prefixOverrides="AND |OR "></trim><!-- 위의<where>의 <trim>버전 -->
		
		<set></set><!--  set 엘리먼트는 동적으로 SET 키워드를 붙히고 필요없는 콤마를 제거한다. -->
		<trim prefix="SET" suffixOverrides=","></trim><!-- 위의<set>의 <trim>버전 -->
		
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")" nullable="true">
			#{item}
		</foreach>
		
		<foreach item="item" index="index" collection="list">
			(#{item.index}, #{item.id}, #{item.name}, #{item.isDeleted})
		</foreach>
		<!-- like 문 사용 시
		[MySQL||H2]column LIKE CONCAT('%',#{keyword},'%')
		[Oracle]column LIKE '%'||#{keyword}||'%'
		[MSSQL]column LIKE '%'+#{keyword}+'%'
		 -->
	</sql>
	
	<sql id="t_menu_columns_forSelect">
		idx,
		menu_name,
		parents_idx,
		rank_number,
		url,
		description,
		is_deleted,
		reg_id,
		reg_date,
		mod_id,
		mod_date
	</sql>
	
	<insert id="registerMenu" useGeneratedKeys="true" keyProperty="idx" 
								parameterType="kr.co.itwillbs.de.admin.dto.MenuDTO">
		insert into t_menu (
			<trim suffixOverrides=",">
			menu_name,
			parents_idx,
			rank_number,
			url,
			description,
			is_deleted,
			reg_id,
			reg_date,
			<if test='modId !=null and !("".equals(modId.trim()))'>
			mod_id,
			mod_date,
			</if>
			</trim>
		) values (
			<trim suffixOverrides=",">
			#{menuName},
			#{parentsIdx},
			#{rankNumber},
			#{url},
			#{description},
			#{isDeleted},
			#{regId},
			now(),
			<if test='modId !=null and !("".equals(modId.trim()))'>
			#{modId},
			now(),
			</if>
			</trim>
		)
	</insert>
	
	<select id="getMenuCount" parameterType="kr.co.itwillbs.de.admin.dto.MenuSearchDTO"
								resultType="int">
		SELECT 
			count(*)
		FROM t_menu
			<where>
				<if test='idx != null and !("".equals(idx.trim()))'>AND idx = #{idx} </if>
				<if test='menuName != null and !("".equals(menuName.trim()))'>AND menu_name LIKE CONCAT('%',#{menuName},'%') </if>
				<if test='parentsIdx != null and !("".equals(parentsIdx.trim()))'>AND parents_idx = #{parentsIdx} </if>
				<if test='isDeleted != null and !("".equals(isDeleted.trim()))'>AND is_deleted = #{isDeleted} </if>
				<if test='url != null and !("".equals(url.trim()))'>AND url LIKE CONCAT('%',#{url},'%') </if>
				<if test='regId != null and !("".equals(regId.trim()))'>AND reg_id = #{regId} </if>
			</where>
	</select>
	
	<select id="getMenuList" parameterType="kr.co.itwillbs.de.admin.dto.MenuSearchDTO"
								resultType="kr.co.itwillbs.de.admin.dto.MenuDTO">
		SELECT 
			<include refid="t_menu_columns_forSelect" />
		FROM t_menu
			<where>
				<if test='idx != null and !("".equals(idx.trim()))'>AND idx = #{idx} </if>
				<if test='menuName != null and !("".equals(menuName.trim()))'>AND menu_name LIKE CONCAT('%',#{menuName},'%') </if>
				<if test='parentsIdx != null and !("".equals(parentsIdx.trim()))'>AND parents_idx = #{parentsIdx} </if>
				<if test='isDeleted != null and !("".equals(isDeleted.trim()))'>AND is_deleted = #{isDeleted} </if>
				<if test='url != null and !("".equals(url.trim()))'>AND url LIKE CONCAT('%',#{url},'%') </if>
				<if test='regId != null and !("".equals(regId.trim()))'>AND reg_id = #{regId} </if>
			</where>
		LIMIT #{pageDTO.size} OFFSET #{pageDTO.offset}
	</select>
	
	<select id="getMenuItemListByMenuName" parameterType="kr.co.itwillbs.de.admin.dto.MenuSearchDTO"
								resultType="kr.co.itwillbs.de.admin.dto.MenuDTO">
		SELECT 
			<include refid="t_menu_columns_forSelect" />
		FROM t_menu
		<where>
			parents_idx is not null
			<if test='menuName != null and !("".equals(menuName.trim()))'>AND menu_name = #{menuName} </if>
		</where>
		ORDER BY rank_number asc
	</select>
	
	<update id="modifyMenuIsDeleted" parameterType="kr.co.itwillbs.de.admin.dto.MenuDTO">
		UPDATE t_menu
			<set>
				<if test='isDeleted != null and !("".equals(isDeleted.trim()))'>is_deleted = #{isDeleted},</if>
				<if test='modId !=null and !("".equals(modId.trim()))'>mod_id = #{modId},</if>
				<if test='modId !=null and !("".equals(modId.trim()))'>mod_date = now(),</if>
			</set> 
		WHERE idx = #{idx}
	</update>
	
	<update id="modifyMenu" parameterType="kr.co.itwillbs.de.admin.dto.MenuDTO">
		UPDATE t_menu
			<set>
				<if test='menuName != null and !("".equals(menuName.trim()))'>menu_name = #{menuName},</if>
				<if test='rankNumber != null and !("".equals(rankNumber.trim()))'>rank_number = #{rankNumber},</if>
				<if test='url != null and !("".equals(url.trim()))'>url = #{url},</if>
				<if test='isDeleted != null and !("".equals(isDeleted.trim()))'>is_deleted = #{isDeleted},</if>
				<if test='description != null and !("".equals(description.trim()))'>description = #{description},</if>
				<if test='modId !=null and !("".equals(modId.trim()))'>mod_id = #{modId},</if>
				<if test='modId !=null and !("".equals(modId.trim()))'>mod_date = now(),</if>
			</set> 
		WHERE idx = #{idx}
	</update>
	
	<!-- 뭔가 대량 인서트나 업데이트가 있을것 같은데...? -->
	<delete id="removeChildMenu" parameterType="kr.co.itwillbs.de.admin.dto.MenuDTO">
		DELETE from t_menu 
		WHERE menu_name = #{menuName}
		  AND parents_idx IS NOT NULL
	</delete>
	
	<insert id="registerChildMenu" parameterType="kr.co.itwillbs.de.admin.dto.MenuDTO">
		INSERT INTO t_menu (
			<trim suffixOverrides=",">
			menu_name,
			parents_idx,
			rank_number,
			url,
			is_deleted,
			description,
			reg_id,
			reg_date,
			</trim>
		) VALUES 
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.menuName}, #{item.parentsIdx}, #{item.rankNumber}, #{item.url}, #{item.isDeleted}, #{item.description}, #{item.regId}, now())
		</foreach>
		
	</insert>
</mapper>